mixin voting-panel()
    div.row.voting-panel.col-md-6.col-lg-4#voting_panel
        div.col-3.upvote
            a(href="#")#thumbs_up_vote
                span(class="fa fa-thumbs-up")
        div.col-6
            h3 Rate this beef now!

        div.col-3.downvote
            a(href="#")#thumbs_down_vote
                span(class="fa fa-thumbs-down").icon-flipped
                
    append scripts
        script(src="/component_controllers/voting_panel/voting_panel_controller.js")