<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="scraping_dump_viewer_app">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Scraping Dump</title>
        <meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/v2/beeftracker_new_logo_cropped_small.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- Font Scripts -->
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/amatic_font.css" />
        
        <!-- Core angular css files -->
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/modules/angular-loading-bar/build/loading-bar.min.css"/>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" href="/stylesheets/house_styles.css"/>
        <link rel="stylesheet" href="/stylesheets/header.css"/>
        
    </head>

    <body id="bootstrap-overrides">
        <div class="container" ng-cloak>
            <div id="loading-bar-container"></div>
            
            <div header-directive></div>
            
            <div id="scraped_events_container" class="row" ng-controller="scrapedEventsDumpController">
                    <div class="col-sm-1"></div>
                    <div id="top_events_container accordion" class="col-sm-10 panel-group">

                        <div class="row top_event_container_1 panel panel-default" ng-repeat="event in events">
                            <form ng-name="{{event._id}}">
                                <h4 class="top_event_title panel_title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                                        <div id="index_container" class="col-sm-1">
                                            <h4>{{$index+1}}</h4>
                                        </div>
                                        <div id="index_container" class="col-sm-10">
                                            <h4><b>{{event.title}}</b></h4>
                                        </div>
                                        <div id="index_container" class="col-sm-1">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </div>
                                    </a>
                                </h4> 
                                <div id="collapse{{$index}}" class="row panel-collapse collapse" style="margin:0px;">
                                    <div class="row" style="padding:20px;">
                                        <div class="col-sm-8 row">
                                            <div class="col-sm-6">
                                                <h4>Aggressor</h4>
                                                <h5 ng-repeat="actor in event.relevant_actors" style="margin:0px;">
                                                    <label><input type="radio" name="{{event._id}}" value="{{actor}}">{{actor}}</label>
                                                </h5>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Targets</h4>
                                                <h5 ng-repeat="actor in event.relevant_actors" style="margin:0px;">
                                                    <label><input type="checkbox" value="{{actor}}">{{actor}}</label>
                                                </h5>
                                            </div>
                                        </div>
                                        <div  class="col-sm-2"></div>
                                        <div  class="col-sm-2" style="height:80%;">
                                            <img ng-src="{{ event.img_title }}" style="height:100px;width:100%;"/>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <div class="col-sm-12">
                                            <textarea style="width:100%;height:200px;resize:none;color:black;padding:5px;">{{event.description}}</textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:20px;">
                                        <div class="col-sm-6 row">
                                            <div class="col-sm-6">
                                                <h5>{{event.event_date}}</h5>
                                            </div>
                                        </div>
                                        <div  class="col-sm-6" style="height:80%;">
                                            <h4>Categories</h4>
                                            <h5 ng-repeat="category in event.selected_categories" style="margin:0px;">
                                                {{actor}}
                                            </h5>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="padding:20px;">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <input type="submit" value="Submit" style="padding:10px;width:100%;height:100%;text-align:center;">
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
            </div>
            <div footer-directive></div>
        </div>
        
        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/admin/scraping_dump_viewer/scraping_dump_viewer_app.js"></script>
        <script src="/controllers/admin/scraping_dump_viewer/scraped_events_dump_controller.js"></script>
        
        <script>
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
