mixin add-beef-cta()
    section.col-md-12(class!=attributes.class).add-beef-cta-section
        div.row
            div.col-md-12.add-beef-cta
                div.add-beef-content
                    div
                        h2 Got Beef?
                        h2 SUBMIT YOUR BEEF NOW!
                        button.btn.btn-primary.btn-lg SUBMIT BEEF


