$color: #fff;
//$brand-primary: #DF3E3E;
$brand-primary: #8c0900;
//$brand-primary-shadow: #9B3131;
$brand-primary-shadow: #5e0600;
$original-text-color: #717171;
$text-color: #222222;
$secondary-color: #717171;
$secondary-color-shadow: #afafaf;
