
/*
$categories: (
   ('tech', #c0392b),
   ('sport', #0083A3),
   //('music', #8e44ad),
   ('rap', #8e44ad),
   ('politics', #27ae60),
   ('pop', #ce27c3),
);
*/
$categories: (
   ('tech', #000),
   ('sport', #000),
   //('music', #8e44ad),
   ('rap', #000),
   ('grime', #000),
   ('politics', #000),
   ('pop', #000),
   ('other', #000),
);


@for $categoryIdx from 1 through length($categories) {
    $cat-name: nth(nth($categories, $categoryIdx), 1);
    $cat-color: nth(nth($categories, $categoryIdx), 2);

    .beef-category-#{$cat-name} {

        .category-header-title {
           color: $cat-color;
           border-bottom: 2px solid $cat-color;
        }

        .beef-thumbnail, .vertical-list-item-thumbnail {
            img {
                border-bottom: 4px solid $cat-color;
            }
        }
        
        .category-name {
            background-color: $cat-color;
            color: #fff;
        }
    }
    .beef-category-default {

        .category-header-title {
           color: #000;
           border-bottom: 2px solid #000;
        }

        .beef-thumbnail, .vertical-list-item-thumbnail {
            img {
                border-bottom: 4px solid $cat-color;
            }
        }
    }
}
