<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="broken_fields_stats_app">

    <!--
        Page name: broken_field_stats.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 21/11/17
    -->
    
    <head>
        <title>Broken Fields</title>
        <style>
            /* Tooltip container */
            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
            }

            /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;

                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
        </style>
    </head>

    <body id="bootstrap-overrides">
        <div class="container" ng-cloak>
            <div id="loading-bar-container"></div>
            
            <div header-directive></div>
            
            <div ng-controller="brokenFieldsStatsController" style="overflow: scroll">
                
                <label>Threshold: <input type="text" ng-model="threshold" ng-change="build_stats()"/></label>
                
                <table class="table">
                    <thead>
                        <td></td>
                        <td ng-repeat="source in sources">
                            <b>{{ source }}</b>
                        </td>
                    
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in fields">
                            <td><b>{{ field }}</b></td>
                            <td ng-repeat="source in sources">
                                <table class="table">
                                    <thead>
                                        <td ng-repeat="broken_reasons_header in broken_reasons_headers">
                                            {{ broken_reasons_header }}
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td ng-repeat="broken_reason in broken_reasons" ng-style="{'background-color': stats[source][field][broken_reason].bg_colour}">
                                                {{ stats[source][field][broken_reason].value }}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div footer-directive></div>
        </div>
        
        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Globals file -->
        <script src="/js/globals.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/admin/broken_fields_stats/broken_fields_stats_app.js"></script>
        <script src="/controllers/admin/broken_fields_stats/broken_fields_stats_controller.js"></script>
        
        <!-- Load global css files -->
        <script src="/stylesheets/loading/global_css_loader.js"></script>
        
        <script>
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
