mixin timeline-section-js()
    script(src="/component_controllers/timeline/timeline.js")
mixin timeline-section()
    +section('EXPLORE', 'TIMELINE', 'fa-clock')
        section.timeline-container
          .arrows
                button.arrow.arrow__prev
                  i.fas.fa-chevron-left
                button.arrow.arrow__next
                  i.fas.fa-chevron-right
          div.timeline

            ol
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li.active
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")
                li
                    +medium-beef-thumbnail("Eminem dissing Trump", "https://assets.capitalxtra.com/2017/24/wiley-and-dizzee-rascal-1497355087-list-handheld-0.jpg", "Music")(class="beef-category-music")


