<html>

    <head>
        
    </head>

    <body>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><p><a href="">About Beeftracker</a></p></div>
        <div class="col-sm-2"><p><a href="">Contact</a></p></div>
        <div class="col-sm-2"><p><a href="">Terms of use</a></p></div>
        <div class="col-sm-2"><p><span class="glyphicon glyphicon-copyright-mark"></span>  Beeftracker.com</p></div>
        <div class="col-sm-2"></div>
    </body>
</html>