<html>

    <head>
        
    </head>

    <body>
        <!--<div id="footer" style="position: absolute;right: 0;bottom: 0;left: 0;padding: 1rem;text-align: center;" class="row">-->
        <div id="footer" style="display: inline-block;" class="row">
            <hr>
            <div class="col-sm-2" style="text-align:center;"><h6><a href="/about" target="_self">About Beeftracker</a></h6></div>
            <div class="col-sm-2" style="text-align:center;"><h6><a href="/contact_us" target="_self">Contact</a></h6></div>
            <div class="col-sm-2" style="text-align:center;"><h6><a href="/terms_of_use" target="_self">Terms of use</a></h6></div>
            <div class="col-sm-2" style="text-align:center;"><h6><span class="glyphicon glyphicon-copyright-mark"></span> beeftracker.co.uk</h6></div>
            <div class="col-sm-2" style="text-align:center;"><h6><a href="/list/events" target="_self">All Events</a></h6></div>
            <div class="col-sm-2" style="text-align:center;"><h6><a href="/list/actors" target="_self">All Actors</a></h6></div>
        </div>
    </body>
</html>