<html>

    <head>
        
    </head>

    <body>
        <div id="footer" class="row">
            <hr>
            <div class="col-sm-3" style="text-align:center;"><h6><a href="/about" target="_self">About Beeftracker</a></h6></div>
            <div class="col-sm-3" style="text-align:center;"><h6><a href="/contact_us" target="_self">Contact</a></h6></div>
            <div class="col-sm-3" style="text-align:center;"><h6><a href="/terms_of_use" target="_self">Terms of use</a></h6></div>
            <div class="col-sm-3" style="text-align:center;"><h6><span class="glyphicon glyphicon-copyright-mark"></span> beeftracker.co.uk</h6></div>
        </div>
    </body>
</html>