<html>

    <head>
        
    </head>

    <body>
        <div id="footer" class="row">
            <hr>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><h5><a href="/about">About Beeftracker</a></h5></div>
            <div class="col-sm-2"><h5><a href="/contact_us">Contact</a></h5></div>
            <div class="col-sm-2"><h5><a href="">Terms of use</a></h5></div>
            <div class="col-sm-2"><h5><span class="glyphicon glyphicon-copyright-mark"></span>  Beeftracker.com</h5></div>
            <div class="col-sm-2"></div>
        </div>
    </body>
</html>