<html>

    <head>
        
    </head>

    <body>
        <hr>
        <div id="footer" class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><h5><a href="">About Beeftracker</a></h5></div>
            <div class="col-sm-2"><h5><a href="">Contact</a></h5></div>
            <div class="col-sm-2"><h5><a href="">Terms of use</a></h5></div>
            <div class="col-sm-2"><h5><span class="glyphicon glyphicon-copyright-mark"></span>  Beeftracker.com</h5></div>
            <div class="col-sm-2"></div>
        </div>
    </body>
</html>