<html>
    
    <head>
        
    </head>
    
    <body>
        <div class="row">
            
            <!--<div class="col-sm-1" ng-controller="timelineController">
                <a href="/"><img src="/images/steak.png" height="90" width="90" style="margin:20px;"></a>
            </div>
            <div class="col-sm-11" ng-controller="timelineController">
                <a href="/"><h1 style="text-align:center;font-size:70px">Beeftracker</h1></a>
            </div>-->
        
            <!--<div class="col-sm-1" ng-controller="timelineController">
                <a href="/"><img src="/images/steak.png" height="90" width="90" style="margin:20px;"></a>
            </div>-->
            
            <div class="col-sm-11" ng-controller="timelineController">
                <a href="/"><h1 style="text-align:center;font-size:110px;"><img src="/logo/steak.png" height="110" width="110">eeftracker</h1></a>
            </div>
            
            <hr/>
            
        </div>
    </body>
</html>