<html>
    
    <head>
        
    </head>
    
    <body>
        <div class="row">
            
            <!--<div class="col-sm-1" ng-controller="timelineController">
                <a href="/"><img src="/images/steak.png" height="90" width="90" style="margin:20px;"></a>
            </div>
            <div class="col-sm-11" ng-controller="timelineController">
                <a href="/"><h1 style="text-align:center;font-size:70px">Beeftracker</h1></a>
            </div>-->
        
            <!--<div class="col-sm-1" ng-controller="timelineController">
                <a href="/"><img src="/images/steak.png" height="90" width="90" style="margin:20px;"></a>
            </div>-->
            
            <!--<div class="row">
                <div class="col-sm-12" style="background-color:#FFFFFF;text-align:center;">
                    <a href="https://tom701.typeform.com/to/fGFVKk" onclick="window.open(this.href, '','toolbar=0, location=0, directories=0, status=0, menubar=0, scrollbars=1, resizable=1, width=1024, height=768'); return false;">
                        <h3 style="color:#000000;font-weight:bold;">When you have had a look around, please answer 10 questions to help us improve</h3>
                    </a>
                </div>
            </div>-->
            
            <div class="col-sm-12">
                <a href="/" target="_self">
                    <h1 style="text-align:center;font-size:60px;color:#FFFFFF;margin-top:10px;">
                        <img src="/logo/steak.png" height="60" width="60">eeftracker
                    </h1>
                </a>
            </div>           
        </div>
        <hr style="margin:10px 0px 30px 0px;">
        <!--
        <div class="row">
        <hr>
        </div>-->
    </body>
</html>