<html>

    <head>
        
    </head>

    <body>
        
        <div class="row">
            <div class="col-sm-12" style="background-color:#FFFFFF;text-align:center;">
                <a href="https://tom701.typeform.com/to/fGFVKk" onclick="window.open(this.href, '','toolbar=0, location=0, directories=0, status=0, menubar=0, scrollbars=1, resizable=1, width=1024, height=768'); return false;">
                    <h4 style="color:#000000;font-weight:bold;margin:0px;padding:5px;">When you have had a look around, please answer 10 quick questions to help us improve</h4>
                </a>
            </div>
        </div>
                    
        <div class="row" style="margin:10px 0px;">
            <div class="col-sm-4"> </div>
            <div class="col-sm-4">
            <!--<div class="col-fixed-308">-->
                <a href="/" target="_self">
                    <!--<div id="header_container">
                        <img id="header_image" src="/logo/steak.png"><h1 id="header_heading" style="display:inline;">eeftracker</h1>
                    </div>-->
                    
                    <img id="header_image" src="/logo/v2/beeftracker_new_logo_cropped.png">
                </a>
            </div>
            <div class="col-sm-4 row"> </div>
        </div>
        
        <hr style="margin:0px;">
        
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid" style="background-color:black;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                </div>
                
                
                <div class="collapse navbar-collapse" id="myNavbar">
                    
                    <ul class="nav navbar-nav">
                        <li id="button_1"><a href="/" target="_self"><b>Home</b></a></li>
                        <li id="button_2"><a href="/add_beef" target="_self"><b>Add Beef</b></a></li>
                        <li id="button_3"><a href="/contact_us" target="_self"><b>Contact</b></a></li>
                    </ul>
                
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        
        <script>
            //run this function on page load, configure menu based on which page is active
            window.onload = function(){
                switch(window.location.pathname){
                    case "/":
                        document.getElementById("button_1").className = "active";
                        break;

                    case "/add_beef":
                        document.getElementById("button_2").className = "active";
                        break;

                    case "/contact_us":
                        document.getElementById("button_3").className = "active";
                        break;
                }
            }
        </script>
        
    </body>
</html>
