<html>
    
    <head>
        
    </head>
    
    <body>
            <div class="row">
                <div class="col-sm-12" style="background-color:#FFFFFF;text-align:center;">
                    <a href="https://tom701.typeform.com/to/fGFVKk" onclick="window.open(this.href, '','toolbar=0, location=0, directories=0, status=0, menubar=0, scrollbars=1, resizable=1, width=1024, height=768'); return false;">
                        <h4 style="color:#000000;font-weight:bold;margin:0px;padding:5px;">When you have had a look around, please answer 10 questions to help us improve</h4>
                    </a>
                </div>
            </div>
                    <!--<h3 style="color:#000000;font-weight:bold;">This is a limited, minimal first version of the product, have a look round and <a  href="https://www.facebook.com/Beeftracker-1360868620601624/?ref=bookmarks" style="display: inline;color:#BBBBBB">follow us on Facebook</a> to stay updated as we add lots more data!</h3>-->
                <!--<div class="col-sm-4"></div>
            </div>-->
        <div class="row">     
            <div class="col-sm-4"> </div>
            <div class="col-fixed-308">
                <a href="/" target="_self">
                    <h1 id="header_heading">
                        <img id="header_image" src="/logo/steak.png"><div style="display:inline;">eeftracker</div>
                    </h1>
                </a>
            </div>     
            <div class="col-sm-4 row"> </div>         
        </div>
        
        <hr id="header_hr">
    </body>
</html>
