mixin horizontal-slider-js(slider_id)
    script.
        $(function() {
            var swiper = new Swiper('##{slider_id}', {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                mode: 'horizontal',
                pagination: {
                    el: '.swiper-pagination',
                    type: 'bullets',
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    480: {
                        slidesPerView: 1,
                        slidesPerGroup: 1,
                        spaceBetween: 20,
                    },
                    992: {
                        slidesPerView: 2,
                        spaceBetween: 30,
                        slidesPerGroup: 2,
                    }
                }
            });

            //triggers image lazy loading of newly visible images on slideChange
            swiper.on('slideChange', function () {
                var instance = $('.lazy').data("plugin_lazy");
                // loads all elements in current viewport threshold
                instance.update();
            });
        });

mixin horizontal-slider(id, data, data_type, image_resize_params)
    div.swiper-container(id=id)
        div.swiper-wrapper
            each thumbnail_data in data
                div.swiper-slide
                    +medium-beef-thumbnail(thumbnail_data, data_type, image_resize_params)(class="beef-category-#{thumbnail_data.categories[0].name.toLowerCase()}")

        div.swiper-button-prev
            span.fas.fa-chevron-left
        div.swiper-button-next
            span.fas.fa-chevron-right
        div.swiper-pagination