include ./section.jade
include ./horizontal_slider.jade
include ./beef_thumbnail.jade
include ../components/add_beef_call_to_action/add_beef_call_to_action.jade
include ../components/login/login_modal.jade
include ../components/inline_beef_search/inline_beef_search.jade
include ../components/search_results/search_results.jade

doctype html
html(lang="en")

    head
    
        block head_tags
        
        title Beeftracker | Home of Conflict
        //meta tags
        meta(name="author" content="Tom Connolly")
        meta(name="description" content="Beeftracker is a brand new web application designed to bring you the very latest in beef-related news! Whether its your favourite rapper or most hated politician, everyone is beefing and we have it all right here!")
        meta(name="keywords" content="Beef, Conflict, Argument, Disagreement, Diss, Clash, Track, News, Gossip, Rap, Hip Hop, Politics, Sport, Celebrity, Politician, Musician,")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="theme-color", content="#DF3E3E")
        link(href='/favicon.ico?', rel='shortcut icon', type="image/x-icon")
        //-link(href='/logo/logo@256.png', rel='shortcut icon', type="image/png")
        link(href='/stylesheets/beeftracker.vendors.css', rel='stylesheet')
        link(href='/stylesheets/beeftracker.css', rel='stylesheet')
        link(href='/modules/toastr/build/toastr.css', rel='stylesheet')
        link(href='/manifest.json', rel='manifest')
        //script tags
        script(type="text/javascript", src="/modules/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/modules/jquery-lazy/jquery.lazy.min.js")
        script(type="text/javascript", src="/modules/toastr/build/toastr.min.js")
        script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.bundle.js", async)
        script(type="text/javascript", src="/bower_components/hammerjs/hammer.js", async)
        script(type="text/javascript", src="/js/service_worker/service_worker_init.js", async)
        script(type="text/javascript", src="/js/globals.js", async)

        script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        //-script.
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2566324736007588",
                enable_page_level_ads: true
            });
    
    body
        div.loader
        div#file_server_url_prefix_store(value=file_server_url_prefix)
        header.container.d-none.d-md-block
            div.row
                div.col-md-6.offset-md-3
                    a(href="/")
                        img(src='/logo/logo@256.png', alt='Beeftracker')
                div.col-md-3
                    a.btn.btn-primary.btn-lg.float-right.add-beef-button(href="/add-beef")
                        span.fas.fa-star
                        | Add Beef
        header.container.d-block.d-md-none
            div.row
                div.col-3
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#beeftrackerMainNav", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle Navigations")
                        span.navbar-toggler-icon.fas.fa-bars
                div.col-6(style="text-align:center;padding-bottom:20px;")
                    a(href="/")
                        img(src='/logo/beeftracker_new_logo_cropped_white_red.png')

        nav.navbar.navbar-expand-md
            div.container
                div.collapse.navbar-collapse#beeftrackerMainNav
                    ul.navbar-nav.main-navbar-nav#nav-items
                        li.nav-item#home
                            a.nav-link(href="/") Home
                        li.nav-item#about
                            a.nav-link(href="/about") About Us
                        li.nav-item#beef
                            a.nav-link(href="/beef") Beef
                        li.nav-item#actors
                            a.nav-link(href="/actors") Actors
                        li.nav-item#contact
                            a.nav-link(href="/contact") Contact Us
                        li.nav-item.d-block.d-md-none#add-beef 
                            a.nav-link.add-beef-button(href="/add-beef") Add Beef
                    ul.navbar-nav.social-navbar-nav.d-sm-non
                        - if(user_data == null){ //-if user is logged in, display header button, if not, display login button
                            li.nav-item.login
                                a.nav-link(href="#", data-toggle="modal", data-target="#login_modal", style="min-height:30px;padding-top: 6px !important;")
                                    span.fas.fa-user
                                    span.text &nbsp; Login
                        - }
                        - else{
                            //-li.nav-item.login
                                a.nav-link(href="/profile", style="min-height:30px;padding-top: 6px !important;")
                                    span #{user_data.first_name} 
                            li.nav-item.login.dropdown
                                a.dropdown-toggle#user_dropdown(data-toggle="dropdown", href="#")
                                    | #{user_data.first_name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="/profile")
                                            | My Profile
                                    //li
                                        a(href="#")
                                            |Page 1-2
                                    li
                                        a#logout_button(href="#")
                                            | Logout
                        - }
                        li.nav-item.search
                            a.nav-link(href="#")#open_search
                                span.fas.fa-search
                                span.text &nbsp; Search
        div.container
            div.row#beef-search-container(hidden)
                div.col-md-6.offset-md-3
                    +inline-beef-search
                div#search_results.col-md-10.offset-md-1.row
                
        block body
        
        footer
            div.footer-logo
                img(src='/logo/beeftracker_new_logo_cropped_white_red.png', alt='Beeftracker')
            div.footer-nav
                ul.footer-nav-items
                    li
                        a(href="/terms-and-conditions") Terms &amp; Conditions
                    li
                        a(href="/privacy-policy") Privacy Policy
                    li
                        a(href="/disclaimer") Disclaimer
                ul.footer-nav-social
                    li
                        a(href="https://www.facebook.com/beeftracker/", target="_blank", rel="noopener")
                            span.fab.fa-facebook-f
                    li
                        a(href="https://twitter.com/beeftracker/", target="_blank", rel="noopener")
                            span.fab.fa-twitter
                    li
                        a(href="https://www.instagram.com/beeftracker/", target="_blank", rel="noopener")
                            span.fab.fa-instagram
                    //li
                        a(href="#")
                            span.fab.fa-linkedin-in
                    li 
                        h6 Made in Britain
                            img(src="/images/union_jack.jpg", style="margin-left:7px;")
            div.footer-copyright
                p BeefTracker &copy; Copyright 2018. All Rights Reserved.
        +login-modal()
        //+register-modal()
        block body_scripts
        
        div#fb-root    
        block scripts
        
        script.
            $(function() { //code to exexcute lazy loading of images
                $('.lazy').Lazy({ });   

                if(localStorage["bftr_cookie_notice_shown"] != "true"){

                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-full-width",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "00",
                        "hideDuration": "1435345000",
                        "timeOut": 0,
                        "extendedTimeOut": 0,
                        "timeOut": 0,
                        "extendedTimeOut": 0,
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "tapToDismiss": true
                    }

                    toastr.error('Welcome! Here at Beeftracker we use cookies to personalise the data that we make available to you');

                    $('.toastr_clear').unbind().click(function () {
                        toastr.clear(toastr, { force: true });
                    });
                    localStorage["bftr_cookie_notice_shown"] = true;

                    $('.dropdown-toggle').dropdown();
                }
            });
                
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=224319738124629&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            
            $(function() {
                var open_search_btn = $('#open_search');
                var beef_search_container = $('#beef-search-container');
                open_search_btn.click(function() {
                    if (open_search_btn.hasClass('active')) {
                        open_search_btn.removeClass('active');
                        beef_search_container.slideUp();
                        setTimeout(function() {
                        beef_search_container.attr('hidden', 'true');
                        }, 500);

                    } else {
                        beef_search_container.hide();
                        open_search_btn.addClass('active');
                        beef_search_container.removeAttr('hidden');
                        beef_search_container.slideDown();
                    }

                });
            });
            //function to make sure whichever page the user on, the button on the nav bar reflects this
            $(function(){
                var top_level_path = window.location.href.split("//")[1].split("/")[1];
                var nav_items_list = document.getElementById("nav-items");
                
                for(var i = 0; i < nav_items_list.children.length; i++){
                    
                    var nav_item = nav_items_list.children[i];
                    
                    if((top_level_path == "" && nav_item.id == "home") || top_level_path == nav_item.id ){
                        nav_item.className += " active";
                    }
                }
            });
            
            //fade out the white screen with beeftracker logo (loader image) on page load
            $(function(){
                $(".loader").fadeOut("fast");
                //$(".loader").css("display", "none")
            });
                
            //image lazy loading
            /*window.addEventListener("load", function(event) {
                lazyload();
            });*/