include ./vertical_list_beef_item.jade
include ./vertical_list_actor_item.jade

mixin mini-vertical-beef(data, data_type, image_resize_params)
    - if(data != "none"){
        div.mini-vertical-list.col-md-12(class!=attributes.class)
        //div.col-md-12
            - if(data_type == "events"){
                h4 Events
            - }
            - else if(data_type == "actors"){
                h4 Actors
            - }
            each item in data
                - if(data_type == "events"){
                    +vertical-list-beef-item(item, image_resize_params)
                - }
                - else if(data_type == "actors"){
                    +vertical-list-actor-item(item, image_resize_params)
                - }
    - }

- if(!data){
-     data = "none";
- }

- if(!data_type){
-     data_type = "none";
- }

- if(!image_resize_params){
-     image_resize_params = null;
- }

+mini-vertical-beef(data, data_type, image_resize_params)