# Dependency files
node_modules
bower_components
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Build output
/public/dist/*

# Docker
Dockerfile
docker-compose.yml

#submodules
/beeftracker_scraping/*

#clinic
#*clinic-doctor*
