mixin horizontal-slider(id, data, data_type, image_resize_params)
    div.swiper-container(id=id)
        div.swiper-wrapper
            each thumbnail_data in data
                div.swiper-slide
                    +medium-beef-thumbnail(thumbnail_data, data_type, image_resize_params)(class="beef-category-#{thumbnail_data.categories[0].name.toLowerCase()}")

        div.swiper-button-prev
            span.fas.fa-chevron-left
        div.swiper-button-next
            span.fas.fa-chevron-right
        div.swiper-pagination