<html>
    <head>
    </head>
    <body>
        
        <div id="top_events_zone" class="row" ng-controller="topEventsController">
            
            <div id="top_events_container" class="col-xs-12" style="height:100%;">

                <div class="row top_event_container_1" ng-class="{{splash_zone_event.middle_image_class}}" ng-repeat="event in events">
                    
                    <div class="col-sm-12 top_event_container_2" style='background-image: url("/event_images/{{event.img_title}}")'>
                        
                        <a ng-href="/beef/{{ event._id }}">
                            <!--<img ng-src="/event_images/{{ splash_zone_event.img_title }}" style="height:100%;width:100%;"/>-->
                            <div class="img_caption">
                                <h6 class="img_caption_text">{{event.title}}</h6>
                                <p class="img_caption_text">{{event.aggressor}}</p>
                            </div>
                        </a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>