<html>
    <head>
    </head>
    <body>
        
        <div id="top_events_zone" class="row" ng-controller="topEventsController">
            
            <hr class="divider_hr">
            
            <div id="top_events_title_area" class="row">
            
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h5><b>Top Events</b></h5>
                </div>
            
            </div>
            
            <div class="row">
                <div class="col-sm-1"></div>
                <div id="top_events_container" class="col-sm-10">

                    <div class="row top_event_container_1" ng-class="{{splash_zone_event.middle_image_class}}" ng-repeat="event in events">
                        <hr style="height:1px;background-color:#000000;margin:10px 0px;">

                            <a class="row" ng-href="/beef/{{ event._id }}">

                                <div id="index_container" class="col-sm-1">
                                    <h3>{{$index}}</h3>
                                </div>

                                <div class="col-sm-8 row">
                                    <div class="col-sm-7">
                                        <h4 class="">{{event.title}}</h4>
                                        <h5 class="">{{event.aggressor}}</h5>
                                    </div>
                                    <div class="col-sm-5">
                                        <h4>{{event.date}}</h4>
                                    </div>
                                </div>
                                <div  class="col-sm-1" ></div>
                                <div  class="col-sm-2" style="height:80%;">
                                    <img ng-src="/event_images/{{ event.img_title }}" style="height:100%;width:100%;"/>
                                </div>
                            </a>

                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </body>
</html>