<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="recently_confirmed_app">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Recently Confirmed</title>        
    </head>

    <body id="bootstrap-overrides">
        <div class="container" ng-cloak ng-controller="recentlyConfirmedController">
            <div id="loading-bar-container"></div>
            
            <div header-directive></div>
                        
            <div id="recent_events_container" class="row">
                    <div class="col-sm-1"></div>
                    <div id="" class="col-sm-10 panel-group">

                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        
                            
                            <div class="row">
                                <div class="col-sm-3" style="">
                                    <input ng-click="submit_config()" type="button" value="Submit"/>
                                </div>
                            </div>    
                            
                            <div class="row top_event_container_1" ng-repeat="event in events track by $index" style="padding:15px;">
                            
                            
                                
                                <div class="row" style="margin:10px;">

                                    <div id="index_container" class="col-sm-1">
                                        <h4>{{$index+1}}</h4>
                                    </div>

                                    <div class="col-sm-11" >
                                        <input type="text" ng-model=form_data[event._id].title style="font-size:22px;width:100%;">
                                    </div>
                                </div>     
                                
                                <div class="row" style="margin:10px;">

                                    <div id="index_container" class="col-sm-1">
                                        <h4>{{ event._id }}</h4>
                                    </div>
                                </div>                       

                                <div class="row" style="height:80%;margin:20px 0px;">
                                    <div class="col-sm-6">
                                        <img ng-src="{{ event.img_title }}" style="height:200px;width:200px;"/>
                                        <input type="text" ng-model="event.img_title" style="margin:0px;">
                                    </div>

                                    <div class="col-sm-6">
                                        <iframe scrolling="no" ng-src="{{trustSrc(event.media_link)}}" class="embed-responsive-item" allowfullscreen="true"></iframe><!-- youtube embed -->
                                        <input type="text" ng-model="event.media_link" style="margin:0px;">
                                    </div>
                                </div>

                                <div class="row" style="height:80%;margin:20px 0px;">
                                    <div class="col-sm-6 row">
                                        <div class="col-sm-3" style="">
                                            <input ng-click="set_event('main_event', event._id)" name="splash_zone_main_event" type="radio" /><label>Main</label>
                                        </div>

                                        <div class="col-sm-3" style="">
                                            <input ng-click="set_event('event_one', event._id)" name="splash_zone_event_one" type="radio" /><label>1</label>
                                        </div>

                                        <div class="col-sm-3" style="">
                                            <input ng-click="set_event('event_two', event._id)" name="splash_zone_event_two" type="radio" /><label>2</label>
                                        </div>
                                        <div class="col-sm-3" style="">
                                            <input ng-click="set_event('event_three', event._id)" name="splash_zone_event_three" type="radio" /><label>3</label>
                                        </div>
                                     </div>                            
                                </div>
                            </div>                                    
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
            </div>
            <div footer-directive></div>
        </div>
        
        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Globals file -->
        <script src="/js/globals.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/admin/site_config/recently_confirmed_app.js"></script>
        <script src="/controllers/admin/site_config/recently_confirmed_controller.js"></script>
        
        <!-- Load global css files -->
        <script src="/stylesheets/loading/global_css_loader.js"></script>
        
        <script>
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
