mixin related-actors()
    div.rounded-mini-thumbs.related-beefs
        h4 Related Actors
        ul
            li
                a(href="#")
                    img(src="https://peopledotcom.files.wordpress.com/2017/10/michelle-obama-d1.jpg")
            li
                a(href="#")
                    img(src="https://peopledotcom.files.wordpress.com/2017/10/michelle-obama-d1.jpg")
            li
                a(href="#")
                    img(src="https://peopledotcom.files.wordpress.com/2017/10/michelle-obama-d1.jpg")
            li
                a(href="#")
                    img(src="https://peopledotcom.files.wordpress.com/2017/10/michelle-obama-d1.jpg")
