#splash_zone{
    margin:20px 0px;
}

.img_caption { 
    position: absolute; 
    bottom:0px;
    right: -15px; 
    background-color: rgba(0,0,0,0.75);
    margin-right:30px;
    padding:0px 10px;
    max-width:100%;
    max-height: 100%;
    font-size:10em;
}

.img_caption_text{
    color:#FFFFFF;
}

.image {
  float: left;
  margin: 0 30px 20px 0;
  
}

#main_image_container{
    height:90%;
    background-size:100% 100%;
    object-fit:cover;
    background-origin: content-box;
    background-repeat:no-repeat;
    margin:0px -15px;
}

#alt_images_container{
    height:90%;
}

.alt_image_container_1{
    height:33.333%; /*
    padding-top:15px;
    padding-bottom:15px;*/
}

.alt_image_container_2{
    height:100%;
    /*margin:0px 15px;*/
    background-size:100% 100%;
    object-fit:cover;
    background-origin: content-box;
    background-repeat:no-repeat;
}

/*.alt_images_container{
    height:90%;
    background-size:100% 100%;
    object-fit:cover;
    background-origin: content-box;
    background-repeat:no-repeat;
    margin:15px 0px;
}*/


/*handle spacing between alt_images */
div.alt_image_container_1:nth-child(1) {
    padding-bottom:7px;
}

div.alt_image_container_1:nth-child(2) {
    padding:7px 0px;
}

div.alt_image_container_1:nth-child(3) {
    padding-top:7px;
}

/*handle image resizing */
@media (max-width: 425px) {
    #splash_zone{
        height:240px;
    }
}
@media (min-width: 425px) {
    #splash_zone{
        height:315px;
    }
}
@media (min-width: 600px) {
    #splash_zone{
        height:390px;
    }
}
@media (min-width: 768px) {
    #splash_zone{
        height:465px;
    }
}
@media (min-width: 768px) {
    #splash_zone{
        height:550px;
    }
}

.image{
   /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    margin:0px;
    background: -owg-linear-gradient(to bottom,rgba(0,0,0,.2) 0,#000 100%);
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.2) 0,#000 100%);
    background: -moz-linear-gradient(to bottom,rgba(0,0,0,.2) 0,#000 100%);
    background: -o-linear-gradient(to bottom,rgba(0,0,0,.2) 0,#000 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.2) 0,#000 100%);
    
    content: '';
}