#top_events_zone{
    margin:20px 0px;
}

.top_event_container_1{
    /*height:120px;*/ 
    /*padding-top:15px;*/
    /*padding-bottom:15px;*/
}

.top_event_container_2{
    height:100%;
    /*margin:0px 15px;*/
    background-size:100% 100%;
    object-fit:cover;
    background-origin: content-box;
    background-repeat:no-repeat;
}

.top_events_container{
    height:100%;
    background-size:100% 100%;
    object-fit:cover;
    background-origin: content-box;
    background-repeat:no-repeat;
    /*margin:15px 0px;*/
}

#alt_images_container{
    margin:0px 0px 0px 30px;
}

h3, h4, h5{
    color: #000000;
}

/*handle zone resizing */
@media (max-width: 425px) {
    #top_events_zone{
        height:200px;
    }
}
@media (min-width: 425px) {
    #top_events_zone{
        height:275px;
    }
}
@media (min-width: 600px) {
    #top_events_zone{
        height:350px;
    }
}
@media (min-width: 768px) {
    #top_events_zone{
        height:425px;
    }
}
@media (min-width: 768px) {
    #top_events_zone{
        height:500px;
    }
}

.top_event_title{
    font-weight:bold;
}
