<!DOCTYPE html>
<html ng-app='auth' lang='en'>
    <head>

        <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
        -->

        <title>Beeftracker</title> <!-- page tab title -->
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/timeline_styles.css"/>
        <link rel="stylesheet" href="/stylesheets/event_box_styles_beef.css"/>

	</head>
	<body id="bootstrap-overrides">
        <div class="container">

            <!-- loading bar -->
            <div id="loading-bar-container"></div>
            
            <div header-directive></div>

            <!-- rest of page -->
            <div class="row" ng-cloak ng-controller="authController">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 row">
                    <div class="row col-sm-12">
                        <label>Username: <input type="text" ng-model="username"/></label>
                    </div>
                    <div class="row col-sm-12">
                        <label>Password: <input type="password" ng-model="password"/></label>
                    </div>
                    <div class="row col-sm-12">
                        <input type="submit" ng-click="send_auth_details()"/>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div footer-directive></div>
        </div>

        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Globals file -->
        <script src="/js/globals.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/authentication/auth_app.js"></script>
        <script src="/controllers/authentication/auth_controller.js"></script>
        
        <!-- Load global css files -->
        <script src="/stylesheets/loading/global_css_loader.js"></script>
        
	</body>
</html>
