include ../../layouts/modal.jade



mixin upload-gallery-item-modal-js()
    script.
        $(function() {
            $('#upload_type').select2({
                placeholder: 'Select an Upload Type',
                theme: 'classic',
                width: "100%",
                minimumResultsForSearch: -1
            });
        });

mixin upload-gallery-item-modal()
    append scripts
        script(src="/component_controllers/upload_gallery_item_modal/upload_gallery_item_modal_controller.js" async)
        
    +modal('Upload', '#', false)(id="upload_gallery_item_modal", large_modal=true)
        div.row
            div.col-md-6
                form
                    //- div.form-row
                    //-     div.form-group.col-md-12
                    //-         label(for="login_email") Email
                    //-         input(type="email").form-control#login_email
                    //- div.form-row
                    //-     div.form-group.col-md-12
                    //-         label(for="login_password") Password
                    //-         input(type="password").form-control#login_password
                    div.form-row
                        div.form-group.col-md-12
                            label(for="upload_type") What are you adding?
                            select#upload_type.form-control(name="upload_type")
                                option(value="default") Select Type
                                option(value="photo") Photo
                                option(value="youtube") YouTube Video
                                option(value="soundcloud") SoundCloud Link
                         div.form-group.col-md-12#youtube_input_div(style="display:none;")
                            label(for="youtube_video_link") YouTube Link
                            input(type="text").form-control#youtube_video_link
                    div.form-row
                         div.form-group.col-md-12#soundcloud_input_div(style="display:none;")
                            label(for="soundcloud_link") Soundcloud Link
                            input(type="text").form-control#soundcloud_link
                    div.form-row
                        div.form-group.col-md-12#photo_input_div(style="display:none;")
                            label(for="photo_link") Browse and Select photo
                            input.form-control#photo_link(type="file", name="gallery-upload-file")
                    div.form-check#set_as_main_graphic(style="display:none;")
                            input.form-check-input(type="checkbox", value="")#set_as_main_graphic_checkbox
                            label.form-check-label(for="set_as_main_graphic_checkbox") Set as Main Graphic
                    div.form-check#set_as_cover_image(style="display:none;")
                            input.form-check-input(type="checkbox", value="")#set_as_cover_image_checkbox
                            label.form-check-label(for="set_as_cover_image_checkbox") Set as Cover Image
                    div.form-row
                        div.form-group.col-md-12
                            button(disabled).btn.btn-primary.float-right#media_submit_button Add
            div.col-md-6
                div.preview-pane
                    img(id="media_preview", src="")
