include ../../layouts/modal.jade

mixin upload-gallery-item-modal-js()
    script.
        $(function() {
            $('#upload_type').select2({
                placeholder: 'Select an Upload Type',
                theme: 'classic',
                width: "100%",
                minimumResultsForSearch: -1
            });
        });

mixin upload-gallery-item-modal()
    append scripts
        script(src="/component_controllers/upload_gallery_item_modal/upload_gallery_item_modal_controller.js" async)
        
    +modal('Upload', '#', false)(id="upload_gallery_item_modal", large_modal=true)
        div.row
            div.col-md-6
                form
                    //- div.form-row
                    //-     div.form-group.col-md-12
                    //-         label(for="login_email") Email
                    //-         input(type="email").form-control#login_email
                    //- div.form-row
                    //-     div.form-group.col-md-12
                    //-         label(for="login_password") Password
                    //-         input(type="password").form-control#login_password
                    div.form-row
                        div.form-group.col-md-12
                            label(for="upload_type") What are you adding?
                            select#upload_type.form-control(name="upload_type")
                                option(value="default") Select Type
                                option(value="image") Image
                                option(value="youtube") YouTube Video
                                option(value="spotify") Spotify Link
                    div.form-row
                        div.form-group.col-md-12#image_input_div(style="display:none;")
                            label(for="image_link") Browse and Select image
                            input.form-control#image_link(type="file", name="gallery-upload-file")
                    dvi-form-row
                         div.form-group.col-md-12#youtube_input_div(style="display:none;")
                            label(for="youtube_video_link") YouTube Link
                            input(type="text").form-control#youtube_video_link
                    div.form-row
                         div.form-group.col-md-12#spotify_input_div(style="display:none;")
                            label(for="spotify_link") Spotify Link
                            input(type="text").form-control#spotify_link
                    div.form-check#set_as_main_graphic(style="display:none;", title="Check this box to set this gallery item as the main graphic meaning it will be placed at the top of the beef page.")
                            input.form-check-input(type="checkbox", value="")#set_as_main_graphic_checkbox
                            label.form-check-label(for="set_as_main_graphic_checkbox") Set as Main Graphic
                    div.form-check#set_as_cover_image(style="display:none;", title="Check this box to set this gallery item as the cover image meaning it will be used as the thumbnail for the event, and as the faded background on the beef page.")
                            input.form-check-input(type="checkbox", value="")#set_as_cover_image_checkbox
                            label.form-check-label(for="set_as_cover_image_checkbox") Set as Cover Image
                    div.form-row#add_button_div
                        div.form-group.col-md-12
                            button(disabled).btn.btn-primary.float-right#media_submit_button Add
                    div.form-row#update_button_div(style="display:none;")
                        div.form-group.col-md-12
                            button.btn.btn-primary.float-right#media_update_button Update
            div.col-md-6
                div.preview-pane
                    img(id="media_preview", src="")
