mixin inline-beef-search()
    form.inline-beef-search-form#search_box_form
        div.row
            div.col-md-12.col-12
                input(type="text", placeholder="Search for keyword").form-control#search_box_input
            //-div.col-md-3.col-3
                button(type="submit").btn.btn-primary Search
        //-small.form-text.trending.mb-2 //trending searches, backend not implemented so far
            | Trending Searches &nbsp;
            a(href="#") Donald Trump

    append scripts
        script(src="/component_controllers/inline_beef_search/inline_beef_search_controller.js" async)
