- function format_date(date){
    - if(date instanceof Date){}
    - else{
    -   date = new Date(date);
    - }
    
    - var day = date.getDate();
    - var monthIndex = date.getMonth() + 1;
    - var year = date.getFullYear();
    
    - return day + '/' + monthIndex + '/' + year;
- }