- function file_server_url_builder(prefix, directory_path, image_id, image_resize_params, extension){

    - var split_prefix = prefix.split("/");
    - split_prefix.splice(split_prefix.length-1, 0, image_resize_params);
    - var image_url = split_prefix.join("/");
    
    - if(directory_path){ //directory_path is optional
        - image_url += "/" + directory_path
    - }
    
    - image_url += "/" + image_id;
    
    - var extension = "webp"; //static extension
    
    -if(extension){ //extension is optional
        - image_url += "." + extension
    - }
    
    - return image_url
- }