mixin gallery-manager()
    div.col-md-4.gallery-manager-add-item
        a(href="#", data-toggle="modal", data-target="#upload_gallery_item_modal")
            i.fas.fa-plus
    each gallery_item in gallery_items
        div.col-md-4.gallery-manager-item
            a(href="#").remove-gallery-item#remove_gallery_item
                i.fas.fa-trash.fa
            img(src=gallery_item.url, x-media-type=gallery_item.media_type, x-file-name=gallery_item.file_name)
        
+gallery-manager()