mixin login-form(form_id)
    div.row
        div.col-md-12.text-right
            p
                | Don't have an account?&nbsp;
                a(href="/register") Register Now
    div.row(style="padding-top: 20px")
        //-div.col-md-6
            h3 Login via
            div.fb-login-button(data-max-rows="1", data-size="large", data-button-type="continue_with", data-show-faces="false", data-auto-logout-link="false", data-use-continue-as="false", onclick="/api/auth/facebook")
        div.col-md-6(style="margin: 0px auto;")
            h3 Login using your Beeftracker Account
            form#login_form
                div
                    div.form-group.col-md-12
                        label(for="login_username") Email
                        input(type="text", x-form-id=form_id).form-control.login_username
                div
                    div.form-group.col-md-12
                        label(for="login_password") Password
                        input(type="password", x-form-id=form_id).form-control.login_password
                div
                    div.form-group.col-md-12(style="height:30px;")
                        button.login_button.btn.btn-primary.float-right(x-form-id=form_id) Login
                //-div
                    div.form-group.col-md-12
                        p
                            | Forgotten password?&nbsp;
                            a(href="#") Reset here

    append scripts
        script(src="/component_controllers/login/login_form_controller.js" async)