body{
    background-color:lightgray;
}

#behind{
    z-index: 0;
    background-color:indianred;
    height:300px;
    width:100%;
}

.headerWrapper{
     width:80em;
    margin: 0 auto;
}

.informationPane{
    background-color:indianred;
    height:300px;
    width:100%;
    display: inline-block;
    z-index:5;
}

.image{
    float:left;
    margin: 20px 20px 20px 125px;
    padding:0;
    border:0;
    min-height: 250px;
    min-width: 250px;
    max-width:250px;
    max-height:250px;
}

.wrapper{
    height:100em;
    width:70%;
    margin: 0 auto;
    background-color:whitesmoke;
}


h1{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color:white;
    font-weight: 600;
    font-size: 100px;
    margin:0;
    padding:0;
    border:0;
}

#rightHeader{
    margin:10px 0 10px 55px;
}

.sub{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color:black;
    font-size: 20px;
    margin:0;
    padding:0;
    border:0;
}

p{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin-right:5px;
    color:black;
    font-size:17px;
    margin-right:20px;
    overflow:hidden;
}

.bodyPane{
    overflow:hidden;
}

.left{
    float:left;
    background-color:whitesmoke;
    width:50%;
    height:100em;
}

.recentEvents{
    float:right;
    background-color:whitesmoke;
    width:50%;
    height:100em;
    border-left: 1px solid gray;
    padding:10px;
}

.eventContainer{

    width:80%;
    margin:0 auto;
    background-color: lightgrey;
    display:block;

    
    
}

.event{
    display:block;
    height:100px;
    width:100%;
    background-color: white;
    border:10px;
}

#title{
    margin-top:10px;
    font-size: 20px;
    font-weight:bold;
}

.thumbnail{
    float:left;
    margin:10px;
    padding:0;
    border:0;
    max-width:75px;
    max-height:75px;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}




