/* style filter box */
option {
    color:#000000;
    font-size:20px;
}
/* if screen is smaller than 768px (mobile phone) apply these styles */
@media (max-width: 768px) {
    #bootstrap-overrides .affix {
        position: static;
    }
    #nav_wrapper {
        width:100%;
    }
    
}

@media (min-width:768px){
    
    /* styles to allow fixed, right hand panel */
    #nav_fixed.affix {
        position: fixed;
        top: 0;
    }
    #nav > .navbar-inner {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }
    
    /* override default affix bottom config to make position absolute */
    .affix-bottom {
        position: absolute;
    }
}
/* styles for jumbotron filter */
#artist_filter_panel{
    padding:30px;
    background-color:#DDDDDD;
}
/* h3 is used for headers on the beef page so override with bold */
#bootstrap-overrides h3, #bootstrap-overrides h2{
    font-weight:bold;
}
/* style to create scroll panel if event data is too large to fit */
#scroll_panel {
    overflow-y:scroll;
}
/* hide scroll bar on scroll panel */
#scroll_panel::-webkit-scrollbar{
    display:none;
}
/* re-scale timeline points */
.timeline-badge{
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5);
}