#beef-information-content{
    width:100%;
    height:100vw;
    padding-top:50px;
}

#beef-information-inner-left-content{
    float:left;
}

#beef-information-inner-right-content{
    float:right;
}

#beef-artist-content{

}

#beef-artist-image{
    height:200px;
    width:200px;
    float:left;
    margin-left:5%;
    display:inline-block;
}

#beef-artist-image-img{
    border-radius: 200px;
    height:100%;
    width:100%;
}

#beef-artist-details{
    padding-top: 30px;
    padding-left: 50px;
    display:inline-block;
}

.beef-description-content{
    background-color: lightgrey;
    display: inline-block;
    border-radius: 20px;
}

.beef-description-content-inner{
    display: inline-block;
    width:calc(100% - 40px);
    padding:20px;
}

.beef-description-content-title{
    background-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
    border-bottom-right-radius: 20px;
    display: inline-block;
    padding: 0px 20px 20px 20px;
    width:calc(100% - 60px);
    margin-top:20px;
    margin-left:20px;
}

#beef-content{

}

#beef-description{
    width:calc(90% - 40px);
    margin-left:5%;
    margin-top:5px;
}

#beef-best-lyrics{
    width:calc(90% - 40px);
    margin-left:5%;
    margin-top:5px;
    margin-right:5%;
}

#beef-related-artists{
    width:calc(50% - 45px);
    margin-left:5%;
    margin-top:5px;

#beef-related-artists-inner{
    text-align: center;
}

#beef-video{
    width:40%;
    margin-top:5px;
    overflow:visible;
    display: inline-block;
    margin-right:5%;
    border-radius: 20px;
}

#beef-video-iframe{
    border-radius: 20px;
}

#beef-related-beef{
    width:calc(50% - 45px);
    margin-left: 5%;
    margin-top:5px;
}
