/* style filter box */
option {
    color:#000000;
    font-size:20px;
}
/* if screen is smaller than 768px (mobile phone) apply these styles */
@media (max-width: 768px) {
    #bootstrap-overrides .affix {
        position: static;
    }
    #nav_wrapper {
        width:100%;
    }
    
}

@media (min-width:768px){
    
    /* styles to allow fixed, right hand panel */
    #nav_fixed.affix {
        position: fixed;
        top: 0;
    }
    #nav > .navbar-inner {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }
    
    /* override default affix bottom config to make position absolute */
    .affix-bottom {
        position: absolute;
    }
}
/* styles for jumbotron filter */
#artist_filter_panel{
    padding:30px;
    background-color:#DDDDDD;
}
/* h3 is used for headers on the beef page so override with bold */
#bootstrap-overrides h3, #bootstrap-overrides h2{
    font-weight:bold;
}
/* style to create scroll panel if event data is too large to fit */
#scroll_panel {
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
}
/* hide scroll bar on scroll panel */
#scroll_panel::-webkit-scrollbar{
    display:none;
}
/* re-scale timeline points */
.timeline-badge{
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}