.event_li_wrapper{
    margin:30px 0px;
}

.event_anchor{
    min-height:120px;
    background-color:#9C0505;
    font-weight:bold;
    padding:0px;
    border-color:#000000;
    border-width:10px;
    border-radius: 5px;
}

.event_container{
    padding:5px;
    width:100%;
    margin:0px;
    text-align:right;
}

.event_img_container{
    padding:10px;
}

.event_img{
    position:relative;
    margin:10px;
    padding:0px;
    float:left;
}

.event_text_container{
    position:relative;
    float:right;
}

.event_title{
    margin:5px;
    font-weight:bold;
}

.event_aggressor, .event_date{
    margin:5px;
}