.event_li_wrapper{
    
}

.event_anchor{
    padding:15px;
    border-radius: 5px;
}

.event_title_container{
    width:100%;
    position:relative;
}

.event_title{
    margin:5px;
    font-weight:bold;
}

event_text_img_wrapper{
    
}

.event_text_container{
    margin:20px 0px;
}

.event_aggressor, .event_date{
    margin:5px;
}

.event_img{
    margin:5px;
    padding:0px;
    height:100px;
    width:100px;
}