#header_heading {
    text-align:center;
    color:#FFFFFF;
    margin:20px 0px 10px 0px;
}

#header_image {
    /*width:75px;
    height:75px;*/
    
    width:100%;
    height:100%;
}

#header_hr {
    margin:10px 0px 30px 0px;
}

#header_container{
}


@media (max-width: 425px) {
    #drop_info_link #drop_info_text{
        font-size:10px;
    }
}/*
@media (min-width: 425px) {
    #drop_info_text{
        font-size:275px;
    }
}
@media (min-width: 600px) {
    #top_events_zone{
        height:350px;
    }
}
@media (min-width: 768px) {
    #top_events_zone{
        height:425px;
    }
}
@media (min-width: 768px) {
    #top_events_zone{
        height:500px;
    }
}*/