/* make sure all elements always stretch to the bottom of the page*/
html, body {
    height: 100%;
}
/* apply to all tags */
 bootstrap-overrides *, * {
	font-family: "Amatic SC";
    padding:0px;
}
/* default font colour */
p, h1, h2, h3, h4, h5, h6, div, a {
    color:#FFFFFF;
}
/* css code to hide elements until page is loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* style the bootstrap container object */
.container{
    background-color: rgba(0,0,0,0.75);
    padding:0px 40px;
    min-height:100%;
}
/* remove default padding from list items */
ul { 
    padding:0px;
    list-style-type: none;
}
/* apply faded background image (support of multiple browsers) */
body {
    background-image: url(/background_images/the-blueprint.jpg) ;
    background-color: #FFFFFF;
    background-attachment: fixed !important;
        
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(bg.png) no-repeat 0 0, url(/background_images/the-blueprint.jpg) repeat 0 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/background_images/the-blueprint.jpg) no-repeat 0 0;
    /*background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/background_images/tupac.jpg) no-repeat 0 0;
    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* make sure anchor tags stretch the full size of their parent object */
a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
/* override white font with black */
#bootstrap-overrides select, #bootstrap-overrides .black_font, #bootstrap-overrides input{
    color:#000000;    
}
/* override font sizes */
#bootstrap-overrides h1{
    font-size:60px;
}
#bootstrap-overrides h2{
    font-size:50px;
}
#bootstrap-overrides h3{
    font-size:32px;
    font-weight:bold;
}
#bootstrap-overrides h4{
    font-size:18px;
}
#bootstrap-overrides h5{
    font-size:14px;
}
#bootstrap-overrides h6{
    font-size:12px;
}
/* styles for footer */
#bootstrap-overrides #bottom_bar {
    position:relative;
    margin:20px auto;
    bottom:0px;
    width: 100%;
}
#footer {
    width:100%;
    margin:0px;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}
/* visited link */
a:visited {
    color: #CCCCCC;
}
/* mouse over link */
a:hover {
    color: #999999;
}
/* selected link */
a:active {
    color: #666666;
}