body{
	margin:0;
	padding:0;
}
wrapper{
	overflow:hidden;
	height:100%;
	width:100%;
	margin:auto;
}
.box{
   	width:49%;
   	height:100%;
    	background-color:red;
    	border:1px solid;
	z-index:0;
	transition:all 325ms ease-in-out 0.1s;
}

.box:hover{
   	position:absolute;
	z-index:100;
    	transition:all 325ms ease-in-out 0.1s;

}

#one{
	float:left;
    position:absolute;
    max-height: 100%;
    background-image: "../assets/skeppy.jpg";
    background-size:cover;
    width: 50%;
    height: 100%:
}
#two{
	float:left;
	overflow:hidden;
	left:50%;
    position:absolute;
    background-image: "../assets/eminem.jpg" ;
    background-size:cover;
    width: 50%;
    height: 100%:
}

slideImage{
    object-fit:fill;
}

#loginWrapper {
  position: absolute;
  width: 200px;
  height: 150px;
  left:50%;
    top:10%;
  background: red;
  border-radius: 10% / 20%;
  color: white;
  text-align: center;
  text-indent: .1em;
    z-index:20000000000;
    
}
#loginWrapper:before {
  position: absolute;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background: green;
  color: white;
  text-align: center;
  text-indent: .1em;
    z-index:20000000001;
}

