<!DOCTYPE html>
<html ng-app="contact_us">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Contact</title>
        <meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/v2/beeftracker_new_logo_cropped_small.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- Font Scripts -->
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/amatic_font.css" />
        
        <!-- Core angular css files -->
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/modules/angular-loading-bar/build/loading-bar.min.css"/>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" href="/stylesheets/house_styles.css"/>
        <link rel="stylesheet" href="/stylesheets/header.css"/>
        
    </head>

    <body id="bootstrap-overrides">
        <div class="container" style="text-align:center">
           
            <div header-directive></div>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="height:100px;"></div>
            </div>
            
            <div class="row" style="height:60px;">
                        
                <a class="col-sm-4" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://www.facebook.com/sharer/sharer.php?u=beeftracker.herokuapp.com" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false">
                    <button style="width:100%; margin-top:10px;background-color:#3b5999" type="button" class="btn btn-facebook btn-lg">
                        <i class="fa fa-facebook fa-2"></i> 
                        Share on Facebook
                    </button>
                </a>
                <a class="twitter-share-button col-sm-4" href="https://twitter.com/intent/tweet?text=Just%20viewed%20some%20beef%20at%20beeftracker.herokuapp.com%20%23beeftracker%20%40beeftracker">
                    <button style="width:100%; margin-top:10px;background-color:#4099FF" type="button" class="btn btn-twitter btn-lg">
                        <i class="fa fa-twitter fa-2"></i> 
                        Tweet
                    </button>
                </a>
                <a class="twitter-share-button col-sm-4" href="https://plus.google.com/share?url=">
                    <button style="width:100%; margin-top:10px;background-color:#dd4b39" type="button" class="btn btn-facebook btn-lg">
                        <i class="fa fa-google fa-2"></i> 
                        Share on Google+
                    </button>
                </a>
            </div>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="height:80px;"></div>
            </div>
            
            <div class="row">
                
                <div class="col-sm-3"></div>
            
                <div class="col-sm-6">
                
                    <h2>Any queries, confusion or bug reports please email:</h2>
                </div>
                
                <div class="col-sm-3"></div>
            </div>
                
            <div class="row" style="height:100%">
                
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h3>beeftracker@gmail.com</h3>
                </div>
                <div class="col-sm-4"></div>
            </div>
            
            <div footer-directive></div>
        </div>
        
        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/static_pages/contact_us_app.js"></script>
        
        <script>
            //get client ip address - not in use
            /*$.getJSON('//freegeoip.net/json/?callback=?', function(data) {
                console.log(JSON.stringify(data, null, 2));
            });*/
            
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
