<!DOCTYPE html>
<html>

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Success!</title>
        <meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/steak.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- Root scripts -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/amatic_font.css" />
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Core angular css files -->
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/modules/angular-loading-bar/build/loading-bar.min.css"/>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" href="/stylesheets/house_styles.css"/>
        <link rel="stylesheet" href="/stylesheets/header.css"/>
        
        <script>    
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs");
                $("#bottom_bar").load("/partials/footer.ejs");
            });
            
            //get client ip address - not in use
            /*$.getJSON('//freegeoip.net/json/?callback=?', function(data) {
                console.log(JSON.stringify(data, null, 2));
            });*/
            
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body id="bootstrap-overrides">
        <div class="container" style="text-align:center">
            <div id="top_bar"></div>
            
            <div>
                <h1> Thanks for the information! </h1>
                <a href="/">
                    <h3>Click here to return to the home page</h3>
                    <img src="/logo/steak_black.png" height="150px" width="150px;"/>
                </a>
            </div>
            
            
            <div id="bottom_bar"></div>
        </div>
    </body>
</html>
