include ../../template_helper_functions/file_server_url_builder.jade

mixin related-actors(actors, image_resize_params, current_actor_id)

    div.rounded-mini-thumbs.related-beefs
        h4 Related Actors
        ul
            each actor in actors
                - if(String(actor._id) != String(current_actor_id)){
                    li
                        a(href="/actor/#{actor._id}")
                            //-img(src=server_url_prefix_with_image_formatting + "/actors/" + actor.img_title_fullsize)
                            img(src=file_server_url_builder(file_server_url_prefix, "actors", actor.img_title_fullsize, image_resize_params))
                            div    
                                p #{actor.name.slice(0,20)}
                - }
                            