include ../../layouts/modal.jade

mixin register-modal()
    +modal('Register', 'register.php', false)(id="register_modal", large_modal=true)
        div.row
            div.col-md-12.text-right
                p
                    | Already have an account?&nbsp;
                    a(href="login.html") Login Now
        div.row(style="padding-top: 20px")
            div.col-md-6
                h3 Register via
                div.fb-login-button(data-max-rows="1", data-size="large", data-button-type="login_with", data-show-face="false", data-auto-logout-link="false", data-use-continue-as="false")
            div.col-md-6
                h3 Register a Beeftracker account
                form
                    div.form-row
                        div.form-group.col-md-12
                            label(for="name") Name
                            input(type="text").form-control#name
                    div.form-row
                        div.form-group.col-md-12
                                label(for="register_email") Email
                                input(type="email").form-control#register_email
                    div.form-row
                        div.form-group.col-md-12
                            label(for="register_password") Password
                            input(type="password").form-control#register_password
                    div.form-row
                        div.form-group.col-md-12
                            button(type="submit").btn.btn-primary.float-right Register
                    div.form-row
                        div.form-group.col-md-12
                            p
                                | By registering, you are agreeing to BeefTracker's&nbsp;
                                a(href="terms.html") Terms and Conditions
