mixin pagination()
    div.pagination
        ul
            li.prev
                a(href="#")
                    i.fas.fa-chevron-left
                li.num
                    a(href="#") 1
                li.num.active
                    a(href="#") 2
                li.num
                    a(href="#") 3
                li.num
                    a(href="#") 4
            li.next
                a(href="#")
                    i.fas.fa-chevron-right


