include ../../layouts/mini_vertical_beef_list.jade
include ../thumbnail_grid/thumbnail_grid.jade

mixin category-browser-section()
    +section('BROWSE', 'CATEGORIES', 'fa fa-ellipsis-v')(class="category-browser-section beef-category-music", id="category_browser_section")
        div.category-browser-header
            div.header-menu
                ul
                    each category in categories
                        - var initial_style = category == categories[0] ? "color:#DF3E3E;" : ""
                        li(class="category-#{category.name.toLowerCase()}")
                            a(href="#", class="category_button", id="#{category.cat_id}", style=initial_style) #{category.name}
            div.header-title
                h2.category-header-title#category_header_title GRIME.
                
        div.row.beef-category-browser#beef_category_browser_display
            +thumbnail-grid(category_event_data, "events")
    
    append scripts
        script(src="/component_controllers/category_browser/category_browser_controller.js" async)
