include ../../layouts/mini_vertical_beef_list.jade
include ./category_browser_display.jade

mixin category-browser-section()
    +section('BROWSE', 'CATEGORIES', 'fa-clock')(class="category-browser-section beef-category-music", id="category_browser_section")
        div.category-browser-header
            div.header-menu
                ul
                    each category in categories
                        li(class="category-#{category.name.toLowerCase()}")
                            a(href="#", class="category_button", id="#{category.cat_id}") #{category.name}
            div.header-title
                h2.category-header-title RAP.
        +category-browser-display()
    
    append scripts
        script(src="/component_controllers/category_browser/category_browser_controller.js")
