include ../../layouts/beef_thumbnail.jade

mixin category-browser-display()
    each thumbnail_data in category_event_data
        div.col-lg-4.col-md-6.col-xs-4
            - var category_class = "beef-category-" + thumbnail_data.categories[0].name.toLowerCase()
            +medium-beef-thumbnail(thumbnail_data, "events", "c_fill,g_face,h_215,w_350")(class=category_class)

+category-browser-display()