extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/category_browser/category_browser.jade
include ../components/pagination/pagination.jade
include ../components/section_control_toolbar/section_control_toolbar.jade
include ../components/thumbnail_grid/thumbnail_grid.jade
include ../components/google_adsense/adsense_banner_ad.jade


append body
    div.bt-content
        //-create cover_image field expected by beef-thumbnail jade component
        - actor_data = actor_data.map(function(actor){
        -    actor.cover_image = actor.img_title_fullsize;
        -    return actor;
        - });
        +section('ALL', 'ACTORS', 'fa fa-users')
            div.section-toolbar#section_toolbar_control_actor_grid
                +section-control-toolbar(["All", "New"], "actors")
            div.row#section_toolbar_display_actor_grid
                +thumbnail-grid(actor_data, "actors")
            //div.row
                div.col-md-12
                    +pagination()
                    
            //div.section-toolbar
                div.section-toolbar-menu
                    ul.list-sections
                        li.active
                            a(href="#") All
                        li
                            a(href="#") New
                    ul.list-type
                        //li
                            a(href="#")
                                span.fas.fa-list
                        li.active
                            a(href="#")
                                span.fas.fa-th

        +adsense-banner-ad()
        +add-beef-cta()

append js_scripts
    script(src="/component_controllers/pagination/pagination_controller.js" async)
    script(src="/component_controllers/section_control_toolbar/section_control_toolbar_controller.js" async)