extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/upload_gallery_item_modal/upload_gallery_item_modal.jade
include ../components/select_actor_modal/select_actor_modal.jade
include ../components/add_actor_modal/add_actor_modal.jade
include ../components/gallery_manager/gallery_manager.jade
//include ../components/add_data_sources/add_data_sources.jade
include ../components/add_list/add_list.jade
include ../components/error_panel/error_panel.jade
include ../components/versus_panel/versus_panel.jade
include ../components/google_adsense/adsense_banner_ad.jade

append scripts
    script.
        $(function() {
            $('#beef_category').select2({
                placeholder: 'Select a Beef Category',
                theme: 'classic',
                width: "100%"
            });

            $('#beef_tags').select2({
                //placeholder: 'Type in beef tags',
                theme: 'classic',
                tags: true,
                tokenSeparators: [',', ' '],
                width: "100%"
            });

            /*$('#beef_content_summernote').summernote({
                tabsize: 2,
                height: 300,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', []],
                    ['color', []],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', []]
                ]
            });*/
        });
    +upload-gallery-item-modal-js()
    +select-actor-modal-js()
    +add-actor-modal-js()

    script(src="/bower_components/select2/dist/js/select2.full.js")
    //-script(src="/modules/summernote/dist/summernote-lite.js" async)
    script(src="/bower_components/smartwizard/dist/js/jquery.smartWizard.js")
    script(src="/js/submit_controllers/submit_event_controller.js" async)

append body
    div.bt-content
        +add-actor-modal(actor_variable_fields)
        +upload-gallery-item-modal()
        +select-actor-modal()
        section
            div.row.title
                h2.col-10
                    | Add
                    span
                        | Beef
                span.col-2.icon.fas-plus
            div(style="padding-top: 20px;")
                div.row(id="submit_event_error_panel")
                    - var errors = []
                    +error-panel(errors, "submit_event_error_panel")
                
                form(action="", method="POST")
                    div.row
                        div.col-12
                            div.button-group.float-right
                                //-a(href="#").btn.btn-secondary Cancel
                                button(type="submit").btn.btn-primary.submit_new_event_button Submit
                    div.row.versus-panel#versus_panel
                        +versus-panel([], [])
                    div.row
                        div.col-12
                            div.form-row
                                div.form-group.col-md-6
                                    label(for="beef_title") Title
                                    input(type="text").form-control#beef_title
                                 div.form-group.col-md-6
                                    label(for="beef_date") Date
                                    input(type="date").form-control#beef_date
                            div.form-row
                                div.form-group.col-md-6
                                    label(for="beef_category") Category
                                    select#beef_category.form-control(name="beef_category")
                                        option(selected="selected", disabled="disabled") Select Category
                                        each category in categories
                                            option(value=category.cat_id) #{category.name}
                                div.form-group.col-md-6
                                    label(for="beef_tags") Tags
                                    select#beef_tags.form-control(name="beef_tags", multiple="multiple")
                                    
                            div.form-row
                                div.form-group.col-md-12
                                    label(for="beef_content_summernote") What happened?
                                    textarea.form-control#beef_description
                                    //-#beef_content_summernote
                            
                            +add-list([], "add_event_data_sources", "Data sources/links")
                            
                            div.form-row
                                div.form-group.col-md-12
                                    h2 Gallery
                            div.row.gallery-manager#gallery_manager
                                +gallery-manager()
                                
                    div.row
                        div.col-12
                            div.button-group.float-right
                                //-a(href="#").btn.btn-secondary Cancel
                                button(type="submit").btn.btn-primary.submit_new_event_button Submit