extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/category_browser/category_browser.jade
include ../components/pagination/pagination.jade
include ../components/section_control_toolbar/section_control_toolbar.jade
include ../components/thumbnail_grid/thumbnail_grid.jade

append body
    div.bt-content
        +category-browser-section()
        
append body
    div.bt-content-full-width.dark
      div.container
          +section('HOT', 'BEEF', 'fa fa-ellipsis-h')
               +horizontal-slider('featured_beefs_slider_full', slider_data, "events", "c_fill,g_face,h_219,w_340")

append body
    div.bt-content
        +section('ALL', 'BEEF', 'fa-tv')
            div.section-toolbar#section_toolbar_control_1
                +section-control-toolbar(["All", "New", "Trending", "Hot", "Old"], "events")
            div.row#section_toolbar_display_1
                +thumbnail-grid(grid_data, "events")
            //div.row
                div.col-md-12
                    +pagination()
        
append scripts
    +horizontal-slider-js('featured_beefs_slider')
    +horizontal-slider-js('featured_beefs_slider_full')
    +horizontal-slider-js('featured_beefs_slider_dark')
    script(src="/bower_components/swiper/dist/js/swiper.js" async)