extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/add_beef_call_to_action/add_beef_call_to_action.jade
include ../components/featured_beef/featured_beef.jade
include ../layouts/horizontal_slider.jade

append scripts
    +horizontal-slider-js('featured_beefs_slider')
    +horizontal-slider-js('featured_beefs_slider_full')
    +horizontal-slider-js('featured_beefs_slider_dark')
    script(src="/bower_components/swiper/dist/js/swiper.js")

append body
    div.bt-content
        +featured-beef-section(featured_data, "events", "c_fill,g_face,h_215,w_350")
        +section('New', 'BEEF', 'fa-tv')
            div.row
                each thumbnail_data in grid_data
                    div.col-lg-4.col-md-6.col-xs-4
                        +medium-beef-thumbnail(thumbnail_data, "events", "c_fill,g_face,h_215,w_350")(class="beef-category-#{thumbnail_data.categories[0].name.toLowerCase()}")
        //+section('HOT', 'BEEFS')
            //+horizontal-slider('featured_beefs_slider', grid_data, "events")
append body
    div.bt-content
        +add-beef-cta()

append body
    div.bt-content-full-width.dark
      div.container
          +section('HOT', 'BEEF')
               +horizontal-slider('featured_beefs_slider_full', slider_data, "events", "c_fill,g_face,h_219,w_340")

append body
    div.bt-content
        +section('JOIN', 'US')
            div.row
                div.col-sm-6
                    p
                        | Beeftracker is creating a community of Beef lovers to share and discuss every beef out there. If you have information that we don't have yet, create an account and join our contributors in our information sharing goals.
                div.col-sm-6
                    a.btn.btn-lg.btn-primary(href="add-beef") Add Beef
                    hr
                    a.btn.btn-lg.btn-primary(href="#", data-toggle="modal", data-target="#register_modal") Sign up
