extends ../layouts/layout.jade
include ../components/trending_beef/trending_beef.jade
include ../components/add_beef_call_to_action/add_beef_call_to_action.jade
include ../components/featured_beef/featured_beef.jade
include ../components/category_browser/category_browser.jade
//include ../layouts/horizontal_slider.jade

append body        
    div.bt-content
        +featured-beef-section(featured_data, "events", "c_fill,g_face,h_215,w_350")
        +section('New', 'BEEF', 'fa-clock')
            div.row
                +thumbnail-grid(grid_data, "events")
        //+section('HOT', 'BEEFS')
            //+horizontal-slider('featured_beefs_slider', grid_data, "events")
append body
    div.bt-content
        +section('JOINTHE', 'COMMUNITY', 'fa fa-comments')
            div.row
                div.col-sm-8
                    h4
                        | Beeftracker is creating a community of Beef lovers to share and discuss every beef out there. If you have information that we don't have yet, create an account and join our contributors in our information sharing goals.
                    p
                        | Beef can be found everywhere and anywhere. We follow Beef in Music, Politics, Sport and even Silicon Valley to ensure any argument you're interested in is covered in our quickly expanding database.
                div.col-sm-4
                    a.btn.btn-lg.btn-primary.btn-float.add-beef-button(href="/add-beef") Add Beef
                    a.btn.btn-lg.btn-primary.btn-float(href="/register") Create an Account


append body
    div.bt-content
        div(align="center")
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins(class="adsbygoogle",
                 style="display:block",
                 data-ad-client="ca-pub-2566324736007588",
                 data-ad-slot="2354175800",
                 data-ad-format="auto")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});
        
        +category-browser-section(grid_data)

append body
    div.bt-content
        +add-beef-cta()

append body
    div.bt-content-full-width.dark
      div.container
          +section('HOT', 'BEEF')
               +horizontal-slider('featured_beefs_slider_full', slider_data, "events", "c_fill,g_face,h_219,w_340")


append scripts
    //-+horizontal-slider-js('featured_beefs_slider')
    //-+horizontal-slider-js('featured_beefs_slider_full')
    +horizontal-slider-js('featured_beefs_slider_full')
    script(src="/bower_components/swiper/dist/js/swiper.js")