extends ../layouts/layout.jade
include ../components/register_form/register_form.jade
include ../components/google_adsense/adsense_banner_ad.jade

append body
    +register-form()
    +adsense-banner-ad()

append js_scripts
    script(src="/bower_components/select2/dist/js/select2.full.js" async)
    script(src="/component_controllers/register_form/register_form_controller.js" async)