extends ../layouts/layout.jade
include ../components/register_form/register_form.jade
include ../components/google_adsense/adsense_banner_ad.jade

append scripts

append body
    +register-form()
    +adsense-banner-ad()