extends ../../layouts/layout.jade

append body
    div.bt-content
    
        h2 Scraped Events:
    
        //- var scraped_records = [ { title: "title1", description: "description1" }, { title: "title2", description: "description2" } ]
    
        div.panel-group#accordion
            - for(var i = 0; i < scraped_records.length; i++){
                div.panel.panel-default
                    div.panel-heading
                        h4.panel-title
                            a(data-toggle="collapse", data-parent="#accordion", href="#collapse_" + i) - #{scraped_records[i].title}
                    div.panel-collapse.collapse.in(id="collapse_" + i)
                        div.panel-body
                            
                            div.row
                                h5 Original Description
                                div.col-md-6
                                    textarea(style="width:100%;height:200px;resize:none;color:black;padding:5px;font-size:15px;") #{scraped_records[i].description}
                                h5 Paraphrased Description
                                div.col-md-6
                                    textarea(style="width:100%;height:200px;resize:none;color:black;padding:5px;font-size:15px;") #{scraped_records[i].description}
            - }