include ../../layouts/vertical_beef_list.jade
include ../pagination/pagination.jade

mixin trending-beefs-section(data)
    +section('TRENDING', 'BEEFS', 'fa-chart-line')
        - var sliced_data = data.slice(0, 3)
        +vertical-beefs(sliced_data)(class="trending-beefs-section")
        +pagination()
