extends ../../layouts/layout.jade

append body
    div.bt-content
        +section('O', 'FFLINE', 'fa fa-minus-circle')
            div.text-center
                h2 Offline, 404 error
                h3 It looks like you're not connected to the internet right now, and the page you're attempting to access requires internet access. Please reconnect and try again.
                h3 Our website's offline features mean you can still load any pages you have previously visited, so just hit that back button or..
                
                a(href="/")
                    //img(src="/logo/beeftracker_new_logo_cropped_small.ico")
                    img(src="/images/sad_cow.png" width="300px")
                    h4 Go 
                        a(href="/") home

append js_scripts 
    script(src="/js/offline.js")

append css_scripts
    link(href='/css/offline.css', rel='stylesheet')
