<!DOCTYPE html>
<html ng-app="artist">

        <!--
            Project: Beeftracker
            Authors: Tom Connolly
            Date: 8/11/16
        -->

    <head>
        <title>Beeftracker</title>
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/steak.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- jQuery imports -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!--angular imports -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script type='text/javascript' src='/modules/angular-loading-bar/build/loading-bar.min.js'></script>
        
        <!-- bootstrap imports -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="/modules/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
        <link rel='stylesheet' href='/modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
        
        <!-- bespoke javascript files -->
        <script src="/controllers/artist/artist_app.js" type="text/javascript"></script>
        <script src="/controllers/artist/artist_controller.js" type="text/javascript"></script>
        <script src="/controllers/artist/recent_events_controller.js" type="text/javascript"></script>
        <script src="/controllers/artist/related_artists_controller.js" type="text/javascript"></script>
        
        <!-- bespoke stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/house_styles.css">
                        
        <script>
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs"); 
                $("#bottom_bar").load("/partials/footer.ejs");
            });
        </script>
        
    </head>

    <body id="bootstrap-overrides">
        <div class="container" class="col-sm-7">
        
            <!-- loading bar -->
        <div id="loading-bar-container"></div>
        <div id="header"></div>
        <div id="top_bar"></div>
            <div class="row">
                <div class="col-xs-12" style="height:60px;"></div>
            </div>
            
            <!-- rest of page -->
            <div class="row" id="artist_details">
                <div class="col-sm-2"></div>
                
                <div class="col-sm-8 row" ng-controller="artistSearchController">
                    <div class="col-sm-4" style="height:100%">
                        <img class="img-circle" src="/artist_images/{{ img_link }}" class="img-circle" height="100%" width="100%">
                    </div>

                    <div class="col-sm-8">
                        <h1>{{stage_name}}</h1>
                        <h4 class="sub">{{birth_name}}</h4>
                        <h5 class="sub">{{d_o_b}}</h5>
                        <h5>{{bio}}</h5>
                    </div>
                </div>
            </div>         
            
            <div class="row">
                <div class="col-xs-12" style="height:60px;"></div>
            </div>
            
            <hr/>
            

            <div class="row" id="general_links_panel">
                    
                <div class="col-sm-2"></div>
                <div class="col-sm-4" ng-controller="relatedArtistsController">
                    <h2>Related Artists:</h2>                        
                    <div>
                        <ul>
                            <li ng-repeat="target in targets" style="width:50%;margin:0px;float:right;">
                                <a ng-href="/artist/#" style="padding:0px;">

                                    <p>{{ target }}</p>

                                </a>
                            </li>
                        </ul>   
                    </div>
                </div>

                <div class="col-sm-4" ng-controller="recentEventsController">
                    <h2>Recent Events:</h2>                        
                    <div>
                        <div ng-repeat="event in events" style="width:50%;margin:0px;float:right;">
                            <a ng-href="/beef/{{event._id}}" target="_self" style="padding:0px;">
                                <img class="img-circle" ng-src="/event_images/{{event.image_link}}" style="margin:0px auto;" height="100" width="50%">


                                <p>{{event.title}}</p>
                                Artists included: 
                                <ul>
                                    <li ng-repeat="target in event.targets">

                                        {{ target }}

                                    </li>
                                </ul>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div id="bottom_bar" class="row" style="margin:50px 0px"></div>
        </div>
    </body>
</html>