<html ng-app="searchResults">
	
	<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef.css">
            
        <!-- <script src="/libs/angular.min.js"></script> --> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        
        <script src="/controllers/beef_controller.js"></script>
	</head>
	<body>
		<div id="header">
		</div>        
		<div id="content">
			<div id="inner-left-content" class="half-page">

			</div>
			<div id="inner-right-content" class="half-page" ng-controller="resultController">
				<div id="beef-artist-content">
					<div id="beef-artist-image">
						<img src="{{ img_link }}" id="beef-artist-image-img">
					</div>
					<div id="beef-artist-details">
                        <h2> {{ song_title }}</h2>
						<h3>{{ name }}</h3>
						<h4>{{ date }}</h4>
					</div>
				</div>
				<div id="beef-content">
					<div id="beef-description" class="beef-description-content">
						<div id="beef-description-title" class="beef-description-content-title">
							<h2>Description</h2>
						</div>
						<div id="beef-description-inner" class="beef-description-content-inner">
							{{ description }}
						</div>
					</div>
					<div id="beef-best-lyrics" class="beef-description-content">
						<div id="beef-best-lyrics-title" class="beef-description-content-title">
							<h2>Top Lyrics</h2>
						</div>
						<div id="beef-best-lyrics-inner" class="beef-description-content-inner">
							<ul>
                                <li ng-repeat="lyrics in top_lyrics"> {{ lyrics }} </li>
                            </ul>
						</div>
					</div>
					<div id="beef-related-artists" class="beef-description-content">
						<div id="beef-related-artists-title" class="beef-description-content-title">
							<h2>Related Artists</h2>
						</div>
						<div id="beef-related-artists-inner" class="beef-description-content-inner">
							Marshall Mathers
							<br/>
							Bigram Zayas
							<br/>
							Matthew Delgiorno
							<br/>
							Stephen Hacker
							<br/>
							Douglas Davis
							<br/>
							Richard Walters
							<br/>
							Dania Birks
							<br/>
							Juana Burns
							<br/>
							Juanita Lee
							<br/>
							Fatima Shaheed
							<br/>
							Kim Nazel
						</div>
					</div>
					<!--<div id="beef-video">
						<iframe width="100%" height="300px" src="https://www.youtube.com/embed/XbGs_qK2PQA" frameborder="0" allowfullscreen="true" id="beef-video-iframe"></iframe>
					</div> -->
					<div id="beef-related-beef" class="beef-description-content">
						<div id="beef-related-beef-title" class="beef-description-content-title">
							<h2>Related Beef</h2>
						</div>
						<div id="beef-related-beef-inner" class="beef-description-content-inner">
							<div class="beef-related-beef-">

						</div>

					</div>
				</div>
			</div>
		<div>
	</body>
</html>