<!DOCTYPE html>
<html ng-app='beef_app' lang='en'>
    <head>
        
        <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
        -->
        
        <title>Beeftracker</title> <!-- page tab title -->
	<meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/steak.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- incomplete script loading framework -->
        <!--
        <script src="/modules/script_loaders/script_tag_injector_function.js"></script>
        <script src="/modules/script_loaders/page_grouping_scripts/beef_scripts_loader.js"></script>
        -->
        
        <!-- jQuery imports -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!--angular imports -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script type='text/javascript' src='/modules/angular-loading-bar/build/loading-bar.min.js'></script>
        
        <!-- bootstrap imports -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="/modules/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
        <link rel='stylesheet' href='/modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
        
        <!-- bespoke stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/house_styles.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/timeline_styles.css">
        
        <script>
            //operations to be carried out on scroll
            $(window).scroll( function(){ $('#nav_wrapper .affix').width($('#nav_wrapper').width()); });
            //operations to be carried out on window resize
            $(window).resize( function(){ 
                $('#nav_wrapper .affix').width($('#nav_wrapper').width());
                check_side_bar_affix();
            });
            // functions
            
            //check if details panel should be affixed or not
            function check_side_bar_affix(){
                if ($(window).innerWidth() <= 768){
                    //$(window).off('.affix');
                    $("#nav_fixed").removeClass("affix affix-top affix-bottom");
                }
                else{
                    $("#nav_fixed").addClass("affix-bottom");
                }
            }
            
            function jump(){
                var hash = location.hash;
                hash = hash.substr(1);
                console.log(hash);
                console.log(document.getElementById(hash));
                var top = document.getElementById(hash).offsetTop; //Getting Y of target element
                window.scrollTo(0, top);  
            }
            
            var x = check_side_bar_affix();
            
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs");
                $("#bottom_bar").load("/partials/footer.ejs");
            });
                           
        </script>
        
        <!-- include google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
            
            $timeout(function() {
              $anchorScroll('myAnchor');
            });
        </script>
        
        <!-- bespoke javascript files -->
        <script src="/controllers/beef/beef_app.js"></script>
        <script src="/controllers/beef/beef_controller.js"></script>
        <script src="/controllers/beef/timeline_controller.js"></script>
        <script src="/js/beef_tracker_colour_bank.js"></script>
        
	</head>
	<body id="bootstrap-overrides">
        <div class="container" ng-cloak>
            
            <!-- loading bar -->
            <div id="loading-bar-container"></div>
            <div id="header"></div>
            <div id="top_bar"></div>
                    
            <!-- rest of page -->
            <div class="row">
                
                <div class="col-sm-7" ng-controller="timelineController">
                    
                    <div class="jumbotron" id="artist_filter_panel" style="display:inline-block;text-align:center;width:100%;margin:30px 0px;background-color:#000000">
                        
                        <div class="col-sm-5">
                            <h3 ng-model="main_name"><div id="main_aggressor" class="black_font"> {{ main_aggressor.stage_name }} </div></h3>
                        </div>

                        <div class="col-sm-2"><h3 class="black_font">vs</h3></div>

                        <div class="col-sm-5" ng-app>
                            <select multiple class="form-control" ng-change="handle_change(selected_targets)" ng-model="selected_targets" ng-options="target for target in filter_options" style="height:90px;"></select>
                        </div>
                        
                    </div>

                    <div id="timeline">
                        <ul class="timeline">
                            <li class="{{event.timeline_event_class}}" ng-repeat="event in events">
                                
                                <div class="timeline-badge" style="background-color:#FFFFFF;">
                                    <span class="{{event.glyphicon}}" style="color:#000000"></span>
                                </div>
                                
                                <a name="{{event.event_num}}" id="{{event.event_num}}" ng-href="/beef/{{event.event_num}}#{{event.event_num}}" class="selectable_event timeline-panel" style="background-color:{{event.colour}};padding:0px;border-width:{{event.border_width}};border-color:{{event.border_colour}}">                                        
                                    <div style="padding:15px;">
                                        
                                        <div class="row" style="width:100%;position:relative;">
                                            <h5 class="col-sm-12" style="margin:5px;font-weight:bold;">{{ event.title }}</h5>
                                        </div>
                                        
                                        <div class="row"> 

                                            <div class="timeline-body col-sm-7">

                                                <h6 style="margin:5px;">{{ event.name }}</h6>
                                                <h6 style="margin:5px;">{{ event.date }}</h6>

                                            </div>
                                            <img ng-src="/event_images/{{ event.loc_img_link }}" class="img-circle col-sm-4" style="<!--position:relative;-->margin:5px;padding:0px;<!--float:left;-->" height="75" width="75">
                                        </div>
                                        
                                        
                                    </div>
                                </a>
                            </li>
                        </ul>   
                    </div>                    
                </div>
                
                <div class="col-sm-5" id="nav_wrapper" ng-controller="currentEventController">
                                    
                    <div id="nav_fixed" data-spy="affix" data-offset-top="120" data-offset-bottom="250" class="nav nav-pills nav-stacked" style="margin:30px 0px 0px 0px;width:100%;">
                        <div id="main_feature">                     
                            <div id="videowrapper" class="embed-responsive embed-responsive-16by9">
                                <iframe style="width:100%;" scrolling="no" ng-src="{{ trustSrc( mf_link) }}" class="embed-responsive-item" allowfullscreen="true"></iframe>
                            </div>
                        </div>

                        <h2>{{ title }}</h2>
                        
                        <div id="scroll_panel" style="max-height:50vh;">
                            <a ng-href="/artist/{{artist_id}}" target="_self">
                                <h3>{{ name }}</h3>
                            </a>

                            <h4>{{ date }}</h4>

                            <h3>Description</h3>

                            <p>{{ description }}</p>
                            
                            <!--<div class="row" style="text-align:center;padding:10px;">
                                <div class="col-sm-1"></div>
                                <div class="jumbotron col-sm-3" style="padding:0px;height:60%;margin:5px;"><h4 style="margin:10px;"><a ng-href="{{ spotify_link }}" target="_blank">Spotify</a></h4></div>
                                <div class="jumbotron col-sm-3" style="padding:0px;height:60%;margin:5px;"><h4 style="margin:10px;"><a ng-href="{{ genius_link }}" target="_blank">Genius</a></h4></div>
                                <div class="jumbotron col-sm-3" style="padding:0px;height:60%;margin:5px;"><h4 style="margin:10px;"><a ng-href="{{ wikipedia_link }}" target="_blank">Wikipedia</a></h4></div>
                                <div class="col-sm-1"></div>
                            </div>-->
                            
                            <div id="link_area">
                                <div class="row" ng-repeat="triples in links">
                                    <div class="col-sm-1"></div>
                                    <div ng-repeat="record in triples" class="jumbotron col-sm-3" style="padding:0px;height:60%;margin:5px;">
                                        <h4 style="margin:10px;text-align:center"><a ng-href="{{ record.url }}" target="_blank">
                                            <b>{{ record.button_name }}</b></a>
                                        </h4>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                                
                            <ul>
                                <li ng-repeat="(key, highlight_group) in highlights" style="margin:0px;">
                                    <h3>{{ key }}</h3>
                                    <ul>
                                        <li ng-repeat="(key, val) in highlight_group">
                                            <p> "{{ val }}" </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                                
                            <h3>Data Sources</h3>
                            <ul>
                                <li ng-repeat="source in data_sources" style="margin:5px;">
                                    <a ng-href="{{source}}">{{ source }}</a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-12" style="height:30px;"></div>
                            </div>

                            <!-- unfished genius embedding, first my attempt to draw data from database, not working, i think due to html being computed way before the angular returns with the data so the blockquotes cannot transform to iframe tags
                            <ul>
                                <li ng-repeat="lyric_item in top_lyrics">
                            
                                    <blockquote class='rg_standalone_container' ng-data-src='{{ lyric_item.data_src_href }}'>
                                        <a ng-href='{{ lyric_item.href_1 }}'>
                                            {{ lyric_item.lyric }}
                                        </a>
                                        <br>
                                        <a href='{{ lyric_item.href_2 }}'>
                                            &#8213; {{ lyric_item.title }}
                                        </a>
                                    </blockquote>
                                    
                                    <script async crossorigin src='//genius.com/annotations/load_standalone_embeds.js'></script>
                                    
                                </li>
                            </ul>

                            <blockquote class='rg_standalone_container' data-src='//genius.com/annotations/8028103/standalone_embed'>
                                <a href='https://genius.com/8028103/Chip-duppy-riddim/You-went-for-robbery-i-grabbed-the-mic-i-grabbed-the-pen-you-hit-the-pen-i-hit-the-stage-you-hit-the-bench'>
                                    You went for robbery, I grabbed the mic&lt;br&gt; I grabbed the pen, you hit the pen&lt;br&gt; I hit the stage, you hit the bench
                                </a>
                                <br>
                                <a href='https://genius.com/Chip-duppy-riddim-lyrics'>
                                    &#8213; Chip – Duppy Riddim
                                </a>
                            </blockquote>                            
                            <script async crossorigin src='//genius.com/annotations/load_standalone_embeds.js'></script>

                            -->
                                                        
                            <div class="row">
                        
                            <a class="col-sm-4" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://www.facebook.com/sharer/sharer.php?u=beeftracker.herokuapp.com/beef/{{ artist_id }}" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false">
                                <button style="width:100%;padding:0px; margin-top:10px;background-color:#3b5999" type="button" class="btn btn-facebook btn-lg">
                                    <i class="fa fa-facebook fa-2"></i> 
                                    <h6 style="max-width:100%;"> Share on FB </h6>
                                </button>
                            </a>
                            <a class="twitter-share-button col-sm-4" href="https://twitter.com/intent/tweet?text=Just%20viewed%20some%20beef%20at%20beeftracker.herokuapp.com/beef/{{artist_id}}%20%23beeftracker%20%40beeftracker">
                                <button style="width:100%;padding:0px; margin-top:10px;background-color:#4099FF" type="button" class="btn btn-twitter btn-lg">
                                    <i class="fa fa-twitter fa-2"></i> 
                                    <h6 style="max-width:100%;"> Tweet </h6>
                                </button>
                            </a>
                            <a class="twitter-share-button col-sm-4" href="https://plus.google.com/share?url=Just%20viewed%20some%20beef%20at%20beeftracker.herokuapp.com/beef/{{artist_id}}%20%23beeftracker">
                                <button style="width:100%;padding:0px; margin-top:10px;background-color:#dd4b39" type="button" class="btn btn-facebook btn-lg">
                                    <i class="fa fa-google fa-2"></i> 
                                    <h6 style="max-width:100%;"> Share on G+ </h6>
                                </button>
                            </a>
                            
                        </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="height:50px;"></div>
            </div>
            <div id="bottom_bar"></div>
        </div>
	</body>
</html>
