<html>

    <head>
    
        <!--
            Project: Beeftracker
            Authors: Tom Connolly, James Langford, Dan Kerby
            Date: 8/11/16
        -->
        
    </head>

    <body>
        <script>
            //1. import and sanitise express objects
            var beef = <%- JSON.stringify(beefObject)%>;
            
            //2. manipulate data   
            var targets = beef.targets[0];    
            
            var numOfTargets = Object.keys(beef.targets).length;
            
            for(var i = 1; i < numOfTargets; i++){
                targets += ", " + beef.targets[i];
            }
            
            //3. output data
            document.body.innerHTML = beef.aggressor + " vs " + targets + "\n Date: " + beef.date;
            console.log(beef);
        </script>
    </body>
    
</html>