<!DOCTYPE html>
<html ng-app='beef_app' lang='en'>
    <head>
        
        <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
        -->
        
        <title>Beef</title>
        <!-- icon -->
        <link rel="shortcut icon" href="/logo/steak.ico">        
        
        <!-- tag for mobile zoom -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef.css">
        <!--<link rel="stylesheet" type="text/css" href="/stylesheets/beef_timeline.css">-->
        
        <!-- angular libraries --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        
        <!-- controllers -->
        <script src="/controllers/beef/beef_app.js"></script>
        <script src="/controllers/beef/beef_controller.js"></script>
        <script src="/controllers/beef/timeline_controller.js"></script>
        
        <!-- other libraries -->
        <link rel='stylesheet' href='/modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='/modules/angular-loading-bar/build/loading-bar.min.js'></script>
        
        <!-- javascript script imports -->
        <!--<script src="/js/load_background.js"></script>-->
        
        
        <script> 
            $(function(){
                $("#top_bar").load("/partials/header.ejs"); 
                $("#bottom_bar").load("/partials/footer.ejs"); 
            });
        </script>
	</head>
	<body id="body">
        <div class="container" style="background-color: rgba(0,0,0,0.75);" ng-cloak>
        
            <!-- loading bar -->
            <div id="loading-bar-container"></div>
            <div id="header"></div>
            <div id="top_bar"></div>
            
            <div class="row">
                <div class="col-xs-12" style="height:60px;"></div>
            </div>
            
            <!-- rest of page -->
            <div class="row">
                
                <div class="col-sm-7" style="padding:0px 40px;" ng-controller="timelineController">
                    
                    <div class="jumbotron">
                        <div id="artist-selection" class="row">

                            <div class="col-sm-4">
                                <div class="artist-selection-dropdown">
                                    <h2 ng-model="main_name"><div id="main_aggressor" style="color:#000000;"> {{ main_event.name }} </div></h2>
                                </div>
                            </div>

                            <div class="col-sm-3"><h2 style="color:#000000;">vs</h2></div>

                            <div class="col-sm-5" ng-app>
                                <select multiple class="form-control" ng-change="handle_change(selected_targets)" ng-model="selected_targets" ng-options="target for target in main_event.targets" style="color:#000000;"></select>
                            </div>

                            <!--<div class="dropdown" class="col-sm-5">
                                <ul class="dropdown-menu" ng-repeat="target for target in main_event.targets">
                                    <li class="dropdown-menu"> {{ target }} </li>
                                </ul>
                            </div>-->

                        </div>
                    </div>

                    <div>
                        <ul style="padding:0px;">
                            <li style="height:100px;background-color:{{event.colour}}; list-style-type:none; margin-left: {{ event.left_margin }}px; margin-right: {{ event.right_margin }}px;" ng-repeat="event in events">
                                <a ng-href="/beef/{{event.event_num}}" style="color:#FFFFFF; font-weight:bold;">
                                    <h3 style="margin:5px;font-weight:bold;"> {{ event.title }}</h3>
                                    <h4 style="margin:5px;"> {{ event.name }} </h4>
                                    
                                    <h5 style="margin:5px;"> {{ event.date }}</h5>
                                    <img  src="/event_images/{{ event.img_link }}" class="img-circle" style="position:relative;bottom:70px;margin:5px;float:right;" height="75" width="75">
                                </a>
                            </li>
                        </ul>    
                    </div>                    
                </div>
                
                <div class="col-sm-5">
                        <div ng-controller="currentEventController">
                            <div>
                                <div id="beef-artist-image">
                                    <img  src="/event_images/{{ img_link }}" class="img-circle" height="200" width="250">
                                </div>
                                <div id="beef-artist-details">
                                    <h2 style="font-size:50px;font-weight:bold;">{{ song_title }}</h2>
                                    <a ng-href="/artist/{{artist_id}}" target="_self">
                                        <h3>{{ name }}</h3>
                                    </a>
                                    <h4>{{ date }}</h4>
                                </div>
                            </div>
                            <div id="beef-content">
                                <div>
                                    <div>
                                        <h2>Description</h2>
                                    </div>
                                    <div>
                                        {{ description }}
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h2>Best Lyrics</h2>
                                    </div>
                                    <div>
                                        <ul>
                                            <li ng-repeat="lyrics in top_lyrics"> "{{ lyrics }}.."</li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="beef-video" class="embed-responsive embed-responsive-16by9">
                                    <iframe width="400px" height="300px" ng-src="{{ trustSrc(url) }}" class="embed-responsive-item" frameborder="0" allowfullscreen="true" id="beef-video-iframe"></iframe>-
                                </div>
                                <div id="beef-related-beef" class="beef-description-content">
                                 <!--   <div id="beef-related-beef-title" class="beef-description-content-title">
                                        <h2>Related Beef</h2>
                                    </div>
                                    <div id="beef-related-beef-inner" class="beef-description-content-inner">
                                        <div class="beef-related-beef-">

                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        <div id="bottom_bar" class="row" style="margin:50px 0px"></div>
        </div>
	</body>
</html>