<html>
	
	<head>
        
        <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Dan Kerby, Tom Connolly
        Date: 8/11/16
        -->
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/beef_timeline.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            $(function(){
              //$("#inner-left-content").load("/");
            });
        </script>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="beef-timeline-content">
			<div id="artist-selection">
				<div id="left-artist-selection" class="individual-artist-selection">
					<select class="artist-selection-dropdown">
						<option>Eminem</option>
						<option>Skeppy</option>
					</select>
				</div>
				<div id="right-artist-selection" class="individual-artist-selection">
					<select class="artist-selection-dropdown">
						<option>Eminem</option>
						<option>Skeppy</option>
					</select>
				</div>
			</div>
			<div id="beef-timeline">
				<div class="beef-timeline-event-left">
					<div class="beef-timeline-event-date">
						12th Dec 2011
					</div>
					<div class="beef-timeline-event-name">
						Steak was cooked
					</div>
				</div>
				<div class="beef-timeline-event-right">
				</div>
			</div>
		<div>
	</body>
</html>