<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/beef.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(function(){
	       $("#inner-left-content").load("/beef_timeline");
	       $("#inner-right-content").load("/beef_information");
	    });
    </script>
	<head>
	</head>
	<body>
		<div id="header">
		</div>
		<div id="content">
			<div id="inner-left-content" class="half-page">
			</div>
			<div id="inner-right-content" class="half-page">
			</div>
		<div>
	</body>
</html>