<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

    <!--
        Project: Beeftracker
        Authors: Tom Connolly, James Langford, Dan Kerby
        Date: 8/11/16
    -->
    
    <head>
        <title>Home</title>

        <!-- css file references -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home_page.css">

        <!-- javascript file references -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/libraries/typeahead.min.js" type="text/javascript"></script>
        <!--<script src="/javascript/home_functions.js" type="text/javascript"></script>-->

        
        <script type="text/javascript">
            $(document).ready(function(){
                console.log("hello");
                $('input.typeahead').typeahead({
                    /*
                    source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo'],
                    minLength: 2*/
                    
                    
                    name: 'typeahead',
                    remote: 'http://localhost:5000/search?key=%QUERY',
                    limit: 10
                    
                });
            });
            /*
            $(function() {
                var substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                        var matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                                // the typeahead jQuery plugin expects suggestions to a
                                // JavaScript object, refer to typeahead docs for more info
                                matches.push({ value: str });
                            }
                        });
                        cb(matches);
                    };
                };

                
                $('.typeahead').typeahead( {}, {source: substringMatcher(colors)} );
            });*/
            
        </script>
        
    </head>
    
    <body>
        
        <h2>Home</h2>
            
        <div class="bs-example">
            <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type your Query">
        </div>

        
        
    </body>
</html>