<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="home">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Home</title>
        <!-- css file references -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        <!-- javascript library references -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- javascript file references -->
        <script src="/controllers/home/home_app.js" type="text/javascript"></script>
        <script src="/controllers/home/search_box_controller.js" type="text/javascript"></script>
        <script src="/controllers/home/event_stream_controller.js" type="text/javascript"></script>
    </head>

    <body>
        <div>
            <h2>Home</h2>
            <div ng-controller="searchController">
                <div id="search_box">
                        <input type="text" ng-model="search_term" ng-change="submit(search_term)" placeholder="Search for an Event" id="search_box">
                </div>
                <div id="search_results">
                    <ul ng-repeat="record in records">
                        <li><a ng-href="/beef/{{record.eventNum}}"> {{ record.title }} </a></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <div id="event_stream" ng-controller="eventStreamController">
                <ul ng-repeat="event in event_stream_events" >
                    <li><img src="{{ event.img_link }}" height="75" width="75">
                        <a ng-href="/beef/{{event.eventNum}}"> {{ event.title }} </a>
                    </li>
                </ul>
            </div>

        </div>
    </body>
</html>