<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html ng-app="generalSearch">

    <!--
        Project: Beeftracker
        Authors: Tom Connolly, James Langford, Dan Kerby
        Date: 8/11/16
    -->
    
    <head>
        <title>Home</title>

        <!-- css file references -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home_page.css">

        <!-- javascript file references -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <script src="/controllers/home/search_app.js" type="text/javascript"></script>
        <script src="/controllers/home/search_controller.js" type="text/javascript"></script>
        
    </head>
    
    <body>
        
        <h2>Home</h2>
        <div ng-controller="searchController">
            
            <div id="input" >                
                <form novalidate>
                    <input type="text" ng-model="search_term" ng-change="submit(search_term)"><br>
                </form>
                
            </div>

                <ul ng-repeat="record in records">
                    <li><a ng-href="/beef/{{record.eventNum}}"> {{ record.title }} </a></li>
                </ul>
            
                <!-- 
                <p>{{ object.name }}</p>
                <p>{{ object.song_title }}</p>
                -->
                
        </div>
    </body>
</html>