<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css">
    </head>
    <div id="container">
        <div id="headerContainer">
            <div id="title">beefTracker</div>
        </div>
    
    </div>
    <div></div>
    <div></div>
</html>
