!DOCTYPE html>
<html>
    
    <!--
        Project: Beeftracker
        Authors: Tom Connolly, James Langford, Dan Kerby
        Date: 8/11/16
    -->
    
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <div id="container">
        <div id="headerContainer">
            <div id="title">beefTracker</div>
        </div>
    
    </div>
    <div></div>
    <div></div>
</html>