<html ng-app>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script>
            
            angular.module('app', [])
  .controller('TodoController', ['$scope', function ($scope) {
    $scope.todos = [
      { title: 'Learn Javascript', completed: true },
      { title: 'Learn Angular.js', completed: false },
      { title: 'Love this tutorial', completed: true },
      { title: 'Learn Javascript design patterns', completed: false },
      { title: 'Build Node.js backend', completed: false },
    ];
  }]);
            
            /*var myVar = <%- JSON.stringify(name) %>;
            document.body.innerHTML = myVar.javascript;
            console.log(myVar.css);*/
            </script>
            <input ng-model="name"> hello {{ name }}
        
        <script type="text/ng-template" id="/todos.html">
            <ul>
            <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.completed">
              {{ todo.name }}
            </li>
          </ul>
        </script>
        
    </body>
</html>