<html>
    <body>
        <script>
            var myVar = <%- JSON.stringify(name) %>;
            document.body.innerHTML = myVar.javascript;
            console.log(myVar.css);
        </script>
    </body>
</html>