<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

    <!--
        Project: Beeftracker
        Authors: Tom Connolly, James Langford, Dan Kerby
        Date: 8/11/16
    -->
    
<head>
    <title>Beeftracker</title>
    <!-- css file references -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript" src="/libraries/angular.min.js"></script>
</head>

    <body ng-app="searchResults">
        
        <script>
            //import db data as a JSON
            var beef = <%- JSON.stringify(beefObject)%>;
            //init angular
            var app = angular.module('searchResults', []);
            
            //create a controller to store all the data 
            app.controller('resultController', function($scope) {
                
                $scope.data = [];
                
                for(var i = 0; i < beef.length; i++){
                    
                    if (!$scope.data[i]) $scope.data[i] = [];
                    
                    var record = {
                            'aggressor' : beef[i].aggressor,
                            'date' : beef[i].date.slice(0,10),
                            'beefId' : beef[i].beefId
                        }
                    
                    $scope.data[i] = record;
                }
                console.log($scope.data);
            });
            
        </script>

    <h2>Results Page</h2>
        
        <!-- <div ng-controller="resultController">
            <ul class="item" ng-repeat="item in data">
              <li class="field" ng-repeat="field in item">
                {{ field }}
              </li>
            </ul>
        </div> -->
        
        <div ng-controller="resultController">
            <ul class="item">
              <li class="field" ng-repeat="item in data">
                  <a ng-href="/beef/{{ item.beefId }}">{{ item.aggressor }} {{ item.date }} </a>
              </li>
            </ul>
        </div>

    </body>
</html>