<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	
	<div id="wrapper">
		<div class="box" id="one" style="background-image:url('assets/skeppy.jpg'); background-repeat: no-repeat;" onmouseover="adjustSize(this)" onmouseout="reset()"></div>
		<div class="box" id="two" style="background-image:url('assets/eminem.jpg'); background-repeat: no-repeat;" onmouseover="adjustSize(this)" onmouseout="reset()"></div>
	</div>
</body>

<script type="text/javascript">
	var divs = document.getElementById("wrapper").children;
	
	
	function adjustSize(currentDiv){
		for(var i = 0; i<divs.length; i++){
			
			if(currentDiv.id == divs[0].id){
				currentDiv.style.transform = "translate3d(5vw, 0px, 0px) scale(1.5)";
				for(var k = 0; k<divs.length; k++){
					if(divs[k].id != divs[0].id){
						divs[k].style.transform = "translate3d(10vw, 0px, 0px) scale(1)";
					}				
				}
			}
			else if(currentDiv.id == divs[divs.length-1].id){
				currentDiv.style.transform = "translate3d(-5vw, 0px, 0px) scale(1.5)";
				for(var k = 0; k<divs.length; k++){
					if(divs[k].id != divs[divs.length-1].id){
						divs[k].style.transform = "translate3d(-10vw, 0px, 0px) scale(1)";
					}				
				}
			}
		}
	}

	function reset(){
		for(var i = 0; i<divs.length; i++){
			divs[i].style.transform = "translate3d(0px, 0px, 0px) scale(1)";	
		}	
	}
	

	</script>
<html>
