<blockquote class='rg_standalone_container' data-src='//genius.com/annotations/8028103/standalone_embed'>
    <a href='https://genius.com/8028103/Chip-duppy-riddim/You-went-for-robbery-i-grabbed-the-mic-i-grabbed-the-pen-you-hit-the-pen-i-hit-the-stage-you-hit-the-bench'>
        You went for robbery, I grabbed the mic&lt;br&gt; I grabbed the pen, you hit the pen&lt;br&gt; I hit the stage, you hit the bench
    </a>
    <br>
    <a href='https://genius.com/Chip-duppy-riddim-lyrics'>
        &#8213; Chip – Duppy Riddim
    </a>
</blockquote>
<script async crossorigin src='//genius.com/annotations/load_standalone_embeds.js'></script>