include ../../layouts/beef_thumbnail.jade
include ../../layouts/actor_thumbnail.jade

mixin thumbnail-grid(grid_thumbnail_data, data_type)
    - if(grid_thumbnail_data != "none" && data_type != "none"){
        each thumbnail_data in grid_thumbnail_data
            div.col-lg-4.col-md-6.col-xs-4
                - if(data_type == "events"){
                    - var category_class = "beef-category-" + thumbnail_data.categories[0].name.toLowerCase()
                    +medium-beef-thumbnail(thumbnail_data, "events", "c_fill,g_face,h_215,w_350")(class=category_class)
                - }
                - else if(data_type == "actors"){
                    +medium-actor-thumbnail(thumbnail_data, "actors", "c_fill,g_face,h_215,w_350")
                - }
    - }

- if(!grid_thumbnail_data){
-     grid_thumbnail_data = "none";
- }

- if(!data_type){
-     data_type = "none";
- }

+thumbnail-grid(grid_thumbnail_data, data_type)