.categories-browser-section {
    .categories-browser-header {
        @extend .row;
        .header-menu, .header-title {
            @extend .col-md-12;
        }

        .header-menu {
            text-align: center;
            margin-bottom: 10px;
            ul {
                list-style:none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    padding:5px 10px;
                    margin-right: -4px;

                    // -webkit-backface-visibility: hidden;
                    a {
                        color: #fff;
                        font-size:  0.8rem;
                        &:hover {
                            text-decoration: none;
                        }
                    }

                    @for $categoryIdx from 1 through length($categories) {
                        $cat-name: nth(nth($categories, $categoryIdx), 1);
                        $cat-color: nth(nth($categories, $categoryIdx), 2);
                        &.category-#{$cat-name} {
                            background-color: $cat-color;

                            &:hover {

                                background-color: darken($cat-color, 10%);
                            }
                        }


                    }
                }
            }
        }
    }
}
