.comment-box {

    .comments-count {
        color: $brand-primary;
    }

    .new-comment {
        button {
            margin-top:10px;
        }
    }

    .comment-box-item {
        @extend .row;
        padding-top: 20px;

        .author {
            color: $brand-primary;
        }

        .date {
            padding-left: 10px;
            color: #e1e1e1;
        }

        padding-bottom: 20px;
        border-bottom: 1px solid #e1e1e1;
    }
}
