.featured-beefs-section {
    .primary-featured-beef {
        @extend .col-md-8;
        .beef-thumbnail {

            &.x-large {
                @include media-breakpoint-only(sm) {
                    height:270px;
                }
                @include media-breakpoint-only(xs) {
                    height:270px;
                }
            }

        }
    }

    .secondary-featured-beefs {
        @extend .col-md-4;

        .secondary-featured-beef {
            @extend .col-md-12;
            .beef-thumbnail {

                @include media-breakpoint-only(sm) {
                    height:270px;
                }
                @include media-breakpoint-only(xs) {
                    height:270px;
                }
            }
        }
    }
}
