<html>

    <head>
    </head>

    <body>
    
        <div style="height:100%" class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form class="form-horizontal" name="actor_form" method="post" ng-controller="actorFormController" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-12" ng-model="error_message"><h3 style="color:red">{{error_message}}</h3></div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">* Stage Name:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="stage_name" type="text" ng-model="stage_name" class="form-control" id="title" placeholder="Enter the name this person is most famous for">
                            </div>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">* Full Birth Name</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="birth_name" type="text" ng-model="birth_name" class="form-control" id="title" placeholder="Enter the person's birth name with all middle names">
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Upload Image:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <input type="file" file-model="myFile" class="col-sm-9" style="padding:0px;font-size:18px;"/>
                            <!--<button ng-click="uploadFile()" class="col-sm-3" type="button" style="height:100%;color:#000000;border:0px;">Upload</button>-->
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Nicknames:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="nickname in nicknames" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12" style="color:#000000;" type="text" placeholder="enter nickname..." ng-model="nickname.text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Date of Birth:</label>
                        <div class="col-sm-9 datepicker row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <input class="col-sm-11" type="text" name="datepicker" ng-model="datePicker" datepicker style="color:#000000;" value="{{datePicker || '00/00/0000'}}" />
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">* Occupations:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_occupation()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_occupation()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="occupation in occupations" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12" style="color:#000000;" type="text" placeholder="enter occupation..." ng-model="occupation.text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">* Birthplace</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="origin" type="text" ng-model="origin" class="form-control" id="title" placeholder="Enter the City, state/province/country and Country of birth of this artist">
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                                        
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Notable Achievements:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_achievement()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_achievement()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="achievement in achievements" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12" style="color:#000000;" type="text" placeholder="enter achievement..." ng-model="achievement.text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                                        
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Bio:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <textarea name="bio" class="form-control" ng-model="bio" rows="3" id="comment" placeholder="Enter a bio for the actor..."></textarea>
                            </div>
                        </div>
                    </div>
                        
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;display:inline;">* Data Sources:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="data_source in data_sources" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <input class="col-sm-11" style="color:#000000;" type="text" placeholder="enter source link..." ng-model="data_source.text">
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">Associated Actors</label>
                        <div class="col-sm-9" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <select ng-model="assoc_actors" multiple class="form-control">
                                    <option ng-repeat="actor in actors" value="{{actor._id}}">{{ actor.stage_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Button Links:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="button_link in button_links" name="button_links" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <input class="col-sm-11" type="text" style="color:#000000;" type="text" placeholder="Enter button name..." value="{{button_link.special_title}}" ng-model="button_link.title">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <input class="col-sm-11" type="url" style="color:#000000;" type="text" placeholder="Enter button link..." ng-model="button_link.url">

                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"><!--
                            <button type="submit" ng-click="" class="btn btn-default">Submit</button>-->
                            <button ng-click="process_form()" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div> 
            <div class="col-sm-2"></div>                
        </div>
        
    </body>

</html>