<html>

    <header>
         
    </header>

    <body>
    
        <div style="height:100%" class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form class="form-horizontal" ng-controller="actorFormController" method="post" enctype="multipart/form-data">

                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">Stage Name:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="stage_name" class="form-control" id="title" placeholder="Enter the name this person is most famous for">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">Full Birth Name</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="birth_name" class="form-control" id="title" placeholder="Enter the person's birth name with all middle names">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Nicknames:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="nickname in nicknames" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <input class="col-sm-12" style="color:#000000;" type="text" placeholder="enter source link..." ng-model="nickname.url">
                            </div>
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">Description:</label>
                        <div class="col-sm-9" style="margin:0px;">
                            <textarea class="form-control" ng-model="description" rows="3" id="comment" placeholder="Enter a description of the event..."></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">Date:</label>
                        <div class="col-sm-9">
                            <input type="date" class="col-sm-9" id="datepicker" ng-model="date" value="2015-03-01" style="color:#000000;padding:15px 0px;height:100%;width:100%;">
                        </div>
                    </div>


                    <!--<div class="input_fields_wrap form-group row" ng-controller="highlightsController">-->
                    <div class="input_fields_wrap form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Highlights:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div><!---->
                        </div>
                        <div class="col-sm-9 row" id="highlights_title_target" style="margin:0px;">

                            <div ng-repeat="highlight in highlights" class="row" style="margin:0px 0px 10px 0px;">
                                <input type="text" placeholder="Enter highlight title" class="col-sm-12" style="color:#000000;margin:5px 0px;padding:5px 0px;" ng-model="highlight.title">
                                <div ng-repeat="field in highlight.fields" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <button ng-click="modify_fields(highlight,field,field.add_button)" class="col-sm-2" style="color:#000000;padding:0px 5px;"><b>{{field.symbol}}</b></button>
                                    <!--<input class="col-sm-10" style="color:#000000;" type="text" placeholder="enter content..." ng-model="field.text">-->
                                    <textarea class="form-control col-sm-10" rows="3" id="comment" placeholder="enter content..." ng-model="field.text"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Data Sources:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="data_source in data_sources" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <input class="col-sm-12" style="color:#000000;" type="text" placeholder="enter source link..." ng-model="data_source.url">
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group row" ng-controller="buttonLinksController">-->
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Button Links:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="button_link in button_links" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <input class="col-sm-12" style="color:#000000;" type="text" placeholder="Enter button name..." ng-model="button_link.title">
                                <input class="col-sm-12" style="color:#000000;" type="text" placeholder="Enter button link..." ng-model="button_link.url">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="process_form()" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div> 
            <div class="col-sm-3"></div>                
        </div>
        
    </body>

</html>