<!DOCTYPE html>
<html ng-app="submit">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Submit New Event!</title>
        <meta charset="utf-8"><!-- encoding version -->
        <meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <link rel="shortcut icon" href="/logo/v2/beeftracker_new_logo_cropped_small.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->

        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!-- Font Scripts -->
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/amatic_font.css" />
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/modules/angular-toggle-switch/angular-toggle-switch.min.js"></script>
        
        <!-- Core angular css files -->
        <link rel="stylesheet" type="text/css" href="/modules/bootstrap/dist/css/bootstrap.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/modules/bootstrap/dist/css/bootstrap-theme.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/modules/angular-loading-bar/build/loading-bar.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/modules/angular-toggle-switch/angular-toggle-switch.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/modules/angular-toggle-switch/angular-toggle-switch-bootstrap.css" media="all"/>
        
        <!-- Extra JQuery scripts -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <!-- Extra JQuery css files -->
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <!-- Datepicker scripts -->
        <script src="/modules/ng-datepicker/src/js/ngDatepicker.min.js"></script>
        <script src="/modules/moment/moment.js"></script>
        
        <!-- Datepicker css files -->
        <link rel="stylesheet" type="text/css" href="/modules/ng-datepicker/src/css/ngDatepicker.css">
        
        <!-- File upload scripts -->
        <script src="/modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/submit_data/submit_app.js"></script>
        <script src="/directives/submit_directive.js"></script>
        <script src="/controllers/submit_data/event_form_controller.js"></script>
        <script src="/controllers/submit_data/actor_form_controller.js"></script>
        <script src="/js/beef_tracker_colour_bank.js"></script>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/house_styles.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css"/><!--
        <link rel="stylesheet" type="text/css" href="/stylesheets/submit_event.css"/>-->
         
        <script>
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs");
                $("#bottom_bar").load("/partials/footer.ejs");
            });
            
            //get client ip address - not in use
            /*$.getJSON('//freegeoip.net/json/?callback=?', function(data) {
                console.log(JSON.stringify(data, null, 2));
            });*/
            
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body id="bootstrap-overrides">
        <div class="container" style="text-align:center">
            <div id="top_bar"></div>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="height:20px;"></div>
            </div>
            
            <h2>Submit New Beef Here!</h2>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="min-height:0px;"></div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:#000000;">Add new Actor</h4>
                        </div>
                        <div class="modal-body" style="background-color:#000000;">
                            <div actor-directive></div>
                        </div>
                        <div class="modal-footer" style="background-color:red">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div style="height:100%" ng-controller="submitOptions" class="row">-->
            <div style="height:100%" class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form id="event_form" name="event_form" class="form-horizontal" ng-controller="eventFormController" method="post" enctype="multipart/form-data">
            
                        <div class="row">
                            <div class="col-xs-12" ng-model="error_message"><h4 style="color:red;margin:0px;">{{error_message}}</h4></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12" style="height:20px;"></div>
                        </div>
                        
                        <hr>
                         
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Title:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Write a title for this event, to describe, very briefly what happened. If it is an artifact like a tweet or a song, enter its title." aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;">
                                    <input id="title" class="form-control col-sm-12" name="title" type="text" placeholder="" ng-model="title" ng-Trim="false"  style="margin:0px;" required>
                                </div>
                                
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Select Actor</label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Please select the instigator/aggressor of this event, if they are not in the list, click 'Add new' and submit a new actor to our records." aria-hidden="true"></span>
                                <div class="col-sm-8" style="padding:0px;margin:0px;">
                                    <select ng-model="aggressor" class="form-control" name="aggressor" placeholder="" required>
                                        <option value="" disabled selected style="display: none;" style="margin:3px;" style="margin:3px;"> Select Actor </option>
                                        <option ng-repeat="actor in actors" value="{{actor._id}}" style="margin:3px;"><p>{{ actor.stage_name }}</p></option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding:0px;margin:0px;">
                                    <button type="button" class="btn btn-default" style="color:#000000;height:60%;margin:0px 10px;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new</button>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                                                 
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Select Target(s)<div style="display:block;font-size:10px;margin:10px">Hold 'ctrl' to select more than one</div></label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Please select any actors that were targeted with this event in any way." aria-hidden="true"></span>
                                <div class="col-sm-8" style="padding:0px;margin:0px;">
                                    <select name="targets" ng-model="targets" multiple class="form-control" style="height:200px" required>
                                        <option ng-repeat="actor in actors" value="{{actor._id}}" style="margin:3px;">{{ actor.stage_name }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding:0px;margin:0px;">
                                    <button type="button" class="btn btn-default" style="color:#000000;height:60%;margin:0px 10px;top:50%;transform: translate(0%,50%);" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new</button>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Upload Image:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." aria-hidden="true"></span>
                                <input type="file" file-model="myFile" class="col-sm-9" style="padding:0px;font-size:18px;" required/>
                                
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">Special Feature</label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="This is space to add a YouTube video or track from Spotify to be displayed by the event, it does always apply but events like songs or speeches work really well with this." aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;margin:10px 0px;">
                                    <select ng-model="special_feature_select" class="form-control" name="aggressor" ng-change="config_special_feature()" style="color:#000000;">
                                        <option value="" disabled selected style="display: none;" style="margin:7px 0px;"> Select Feature Type </option>
                                        <!--<option selected hidden disabled><p>Select feature type</p></option>-->
                                        <option ng-repeat="mode in special_feature_modes" value="{{ mode }}" style="margin:3px;"><p>{{ mode.title }}</p></option>
                                    </select>
                                </div>
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Enter the URL of the YouTube video, or the link to the Spotify track which can be obtained by right clicking on the song and then clicking 'Copy Song Link'." aria-hidden="true"></span>
                                <input class="col-sm-11" ng-file-model="{{ mf_file_model }}" style="color:#000000;padding:0px;font-size:18px;" type="{{ mf_type }}" placeholder="" ng-model="special_feature.content">
                            </div>
                        </div>
                                             
                        <hr>
                         
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* What Happened?:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Sum up what happened with this event mentioning how each actor was targeted. Try not to add your own point of view because it will be filtered out during the moderation process." aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;">
                                    <textarea class="form-control" name="description" type="text" ng-model="description" rows="3" id="comment" placeholder="" style="resize: vertical;" required></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Date:</label>
                            <div class="col-sm-9 datepicker row" style="margin:0px;color:#000000;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Enter the date on which this event occurred." aria-hidden="true"></span>
                                <input id="datepicker" class="col-sm-11" type="text" name="datepicker" ng-model="datePicker" datepicker style="" value="{{datePicker || '00/00/0000'}}">
                            </div>
                        </div>
                        
                        <hr>
                         
                         
                        <!--<div class="input_fields_wrap form-group row" ng-controller="highlightsController">-->
                        <div class="input_fields_wrap form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;" for="comment">Highlights:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div><!---->
                            </div>
                            <div class="col-sm-9 row" id="highlights_title_target" style="margin:0px;">
                                
                                <div ng-repeat="highlight in highlights" class="row" style="margin:0px 0px 10px 0px;">
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="This is a space to comment on the highlights (if there were any) in the event, for example, with a song you could post the top five best lyrics etc... Please enter the title in this box, e.g. 'Top Lyrics'." aria-hidden="true"></span>
                                    <input type="text" placeholder="" class="col-sm-11" style="color:#000000;margin:5px 0px;padding:5px 0px;" ng-model="highlight.title">
                                    <div ng-repeat="field in highlight.fields" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                        <div class="col-sm-2 row" style="color:#000000;padding:0px;margin:0px;">
                                            <span class="col-sm-6 glyphicon glyphicon-info-sign"  title="This is a space to comment on the highlights (if there were any) in the event, for example, with a song you could post the top five best lyrics etc... Please enter the content of the highlight. Add or remove boxes depending on what you need." aria-hidden="true"></span>
                                            <button ng-click="modify_fields(highlight,field,field.add_button)" class="col-sm-6" style="color:#000000;padding:0px;"><b>{{field.symbol}}</b></button>
                                        </div>
                                        <div class="col-sm-10" style="padding:0px 0px 0px 5px;">
                                            <textarea class="form-control" rows="3" id="comment" placeholder="" ng-model="field.text" style="resize: vertical;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;display:inline;">* Data Sources:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div>
                            </div>
                            <div class="col-sm-9" style="margin:0px;">
                                <div ng-repeat="data_source in data_sources" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="We hate fake news at beeftracker, so if you submit information we need to know where you learned it from. Add a URL, documentary title or other kind of reference here:  A documentary, website, book, song etc... These will be verified before the data is made accessible." aria-hidden="true"></span>
                                    <input class="col-sm-11" style="color:#000000;" type="text" placeholder="" ng-model="data_source.url" required>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                         
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;" for="comment">Button Links:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div>
                            </div>
                            <div class="col-sm-9" style="margin:0px;">
                                <div ng-repeat="button_link in button_links" name="button_links" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="You may have seen that we like to provide button links to other places where you can get more information. This is much less formal than the data sources entry so a wikipedia article, or link to a tweet is perfect. Add the title of the button here. e.g. Wiki page, Tweet etc..." aria-hidden="true"></span>
                                    <input class="col-sm-11" type="text" style="color:#000000;" type="text" placeholder="" value="{{button_link.special_title}}" ng-model="button_link.title">
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="You may have seen that we like to provide button links to other places where you can get more information. This is much less formal than the data sources entry so a wikipedia article, or link to a tweet is perfect. Add the link to the resource here." aria-hidden="true"></span>
                                    <input class="col-sm-11" type="url" style="color:#000000;" type="text" placeholder="" ng-model="button_link.url">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                                                 
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Select Category(s)</label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Please select any actors that were targeted with this event in any way." aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;margin:0px;">
                                    <select name="targets" ng-model="selected_categories" multiple class="form-control" required>
                                        <option ng-repeat="category in categories" value="{{category.cat_id}}" style="margin:3px;">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="row">
                            <div class="col-xs-12" ng-model="error_message"><h4 style="color:red;">{{error_message}}</h4></div>
                        </div>
                                                 
                        <div class="form-group" style="margin:20px;">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button type="submit" ng-click="process_form(this)" class="btn btn-default"><p style="color:#000000;margin:0px;padding:0px;">Submit</p></button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </form>
                </div> 
                <div class="col-sm-2"></div>                
            </div>
            <div id="bottom_bar"></div>
        </div>
    </body>
</html>
