<!DOCTYPE html>
<html ng-app="submit">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Submit New Event!</title>
        <meta charset="utf-8"><!-- encoding version -->
        <meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <link rel="shortcut icon" href="/logo/steak.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->

        <!-- jQuery imports -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!--angular imports -->
        <script src="/modules/angular/angular.min.js"></script>
        <!-- bootstrap imports -->
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
        <link rel='stylesheet' href='/modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
        
        <link rel='stylesheet' href='/modules/ng-datepicker/src/css/ngDatepicker.css' type='text/css' media='all' />
        <script src="/modules/ng-datepicker/src/js/ngDatepicker.min.js"></script>
        <script src="/modules/moment/moment.js"></script>
        
        <script src="/modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
        
        <!-- google analytics -->
        <script src="https://apis.google.com/js/plusone.js"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
                
        <!-- bespoke angular controllers files -->
        <script src="/controllers/submit_data/submit_app.js"></script>
        <script src="/directives/submit_directive.js"></script>
        <script src="/controllers/submit_data/event_form_controller.js"></script>
        <script src="/controllers/submit_data/actor_form_controller.js"></script>
        
        <!-- bespoke stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/house_styles.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
        
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs");
                $("#bottom_bar").load("/partials/footer.ejs");
                //$("#actor_modal_content").load("/raw_add_actor");
            });
            
        </script>
        
        <!-- include google analytics --> 
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body id="bootstrap-overrides">
        <div class="container" style="text-align:center">
            <div id="top_bar"></div>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="height:20px;"></div>
            </div>
            
            <h2>Submit New Beef Here!</h2>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="min-height:20px;"></div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:red">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:#000000;">Add new Actor</h4>
                        </div>
                        <div class="modal-body" style="background-color:#000000;">
                            <div actor-directive></div>
                        </div>
                        <div class="modal-footer" style="background-color:red">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div style="height:100%" ng-controller="submitOptions" class="row">-->
            <div style="height:100%" class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form id="event_form" name="event_form" class="form-horizontal" ng-controller="eventFormController" method="post" enctype="multipart/form-data">
            
                        <div class="row">
                            <div class="col-xs-12" ng-model="error_message"><h3 style="color:red">{{error_message}}</h3></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12" style="height:20px;"></div>
                        </div>
                        
                        <hr>
                         
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Title:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;">
                                    <input id="title" class="form-control col-sm-11" name="title" type="text" placeholder="Enter title" ng-model="title" ng-Trim="false">
                                </div>
                                
                            </div>
                            <!--<span class="col-sm-2 {{title_glyph}}" style="padding:0px 30px 0px 0px;" aria-hidden="true"></span>-->
                        </div>
                        
                        <hr>
                        
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Select Actor</label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <div class="col-sm-8" style="padding:0px;margin:0px;">
                                    <select ng-model="aggressor" class="form-control" name="aggressor" placeholder="Click here">
                                        <option ng-repeat="actor in actors" value="{{actor._id}}"><p>{{ actor.stage_name }}</p></option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding:0px;margin:0px;">
                                    <button type="button" class="btn btn-default" style="color:#000000;height:60%;margin:0px 10px;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new</button>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                                                 
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="title">* Select Target(s)</label>
                            <div class="col-sm-9" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <div class="col-sm-8" style="padding:0px;margin:0px;">
                                    <select name="targets" ng-model="targets" multiple class="form-control">
                                        <option ng-repeat="actor in actors" value="{{actor._id}}">{{ actor.stage_name }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding:0px;margin:0px;">
                                    <button type="button" class="btn btn-default" style="color:#000000;height:60%;margin:0px 10px;top:50%;transform: translate(0%,50%);" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new</button>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Upload Image:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <input type="file" file-model="myFile" class="col-sm-9" style="padding:0px;font-size:18px;"/>
                                <!--<button ng-click="uploadFile()" class="col-sm-3" type="button" style="height:100%;color:#000000;border:0px;">Upload</button>-->
                            </div>
                        </div>
                        
                        <hr>
                         
                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Description:</label>
                            <div class="col-sm-9 row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <div class="col-sm-11" style="padding:0px;">
                                    <textarea class="form-control" name="description" type="text" ng-model="description" rows="3" id="comment" placeholder="Enter a description of the event..." style="resize: vertical;"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="form-group row">
                            <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Date:</label>
                            <div class="col-sm-9 datepicker row" style="margin:0px;">
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                <input class="col-sm-11" type="text" name="datepicker" ng-model="datePicker" datepicker style="color:#000000;" value="{{datePicker || '00/00/0000'}}" />
                            </div>
                        </div>
                        
                        <hr>
                         
                         
                        <!--<div class="input_fields_wrap form-group row" ng-controller="highlightsController">-->
                        <div class="input_fields_wrap form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;" for="comment">Highlights:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_highlight_event()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div><!---->
                            </div>
                            <div class="col-sm-9 row" id="highlights_title_target" style="margin:0px;">
                                
                                <div ng-repeat="highlight in highlights" class="row" style="margin:0px 0px 10px 0px;">
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:15px 0px 0px 0px;margin:5px 0px;display:inline;" aria-hidden="true"></span>
                                    <input type="text" placeholder="Enter highlight title" class="col-sm-11" style="color:#000000;margin:5px 0px;padding:5px 0px;" ng-model="highlight.title">
                                    <div ng-repeat="field in highlight.fields" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                        <div class="col-sm-2" style="color:#000000;padding:0px;">
                                            <button ng-click="modify_fields(highlight,field,field.add_button)" class="col-sm-12" style="color:#000000;padding:0px 5px;width:100%;"><b>{{field.symbol}}</b></button>
                                            <span class="col-sm-12 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;color:#FFFFFF;" aria-hidden="true"></span>
                                        </div>
                                        <!--<input class="col-sm-10" style="color:#000000;" type="text" placeholder="enter content..." ng-model="field.text">-->
                                        <div class="col-sm-10" style="padding:0px 0px 0px 5px;">
                                            <textarea class="form-control" rows="3" id="comment" placeholder="enter content..." ng-model="field.text" style="resize: vertical;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;display:inline;">* Data Sources:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div>
                            </div>
                            <div class="col-sm-9" style="margin:0px;">
                                <div ng-repeat="data_source in data_sources" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                    <input class="col-sm-11" style="color:#000000;" type="text" placeholder="enter source link..." ng-model="data_source.url">
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                         
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label class="control-label" style="text-align:center;" for="comment">Button Links:</label>
                                </div>
                                <div class="row" style="height:15px;"></div>
                                <div class="btn-group btn-group-sm">
                                    <button ng-click="add_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                    <button ng-click="remove_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                                </div>
                            </div>
                            <div class="col-sm-9" style="margin:0px;">
                                <div ng-repeat="button_link in button_links" name="button_links" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                    <input class="col-sm-11" type="text" style="color:#000000;" type="text" placeholder="Enter button name..." value="{{button_link.special_title}}" ng-model="button_link.title">
                                    <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add a url or a reference here that you learned this information from. We want to keep the data clean from fake news so it's important you back this info up with proof. A documentary, website, book, song etc... These will be verified before the data is made accessible." style="padding:10px 0px 0px 0px;display:inline;" aria-hidden="true"></span>
                                    <input class="col-sm-11" type="url" style="color:#000000;" type="text" placeholder="Enter button link..." ng-model="button_link.url">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                                                 
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" ng-click="process_form()" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div> 
                <div class="col-sm-2"></div>                
            </div>
            <div id="bottom_bar"></div>
        </div>
    </body>
</html>
