<!DOCTYPE html>
<html ng-app="submit">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Submit New Actor!</title>
        
        <!-- Angular css files -->
        <link rel="stylesheet" type="text/css" href="/modules/angular-toggle-switch/angular-toggle-switch.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/modules/angular-toggle-switch/angular-toggle-switch-bootstrap.css" media="all"/>
        
        <!-- Extra JQuery css files -->
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        
        <!-- Datepicker css files -->
        <link rel="stylesheet" type="text/css" href="/modules/ng-datepicker/src/css/ngDatepicker.css"/>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css"/>
         
    </head>

    <body id="bootstrap-overrides">
        <div class="container" style="text-align:center">
            
            <div header-directive></div>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="height:20px;"></div>
            </div>
            
            <h2>Submit A New Actor Profile Here!</h2>
            
            <!-- spacer bar -->
            <div class="row">
                <div class="col-xs-12" style="min-height:40px;"></div>
            </div>
            
            <!-- import raw actor form html -->
            <div>
                <div actor-directive></div>
            </div>
            <div footer-directive></div>
        </div>
        
        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        <!-- Extra JQuery scripts -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/modules/angular-toggle-switch/angular-toggle-switch.min.js"></script>
        
        <!-- Datepicker scripts -->
        <script src="/modules/ng-datepicker/src/js/ngDatepicker.min.js"></script>
        <script src="/modules/moment/moment.js"></script>
        
        <!-- Browser detection -->
        <script src='/modules/re-tree/re-tree.js'></script>
        <script type="text/javascript" src="/modules/ng-device-detector/ng-device-detector.js"></script>
        
        <!-- File upload scripts -->
        <script src="/modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
        
        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/submit_data/submit_app.js"></script>
        <script src="/directives/submit_directive.js"></script>
        <script src="/controllers/submit_data/actor_form_controller.js"></script>
        <script src="/js/beef_tracker_colour_bank.js"></script>
        
        <!-- Load global css files -->
        <script src="/stylesheets/loading/global_css_loader.js"></script>
        
        <script>            
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
