extends ../../layouts/layout.jade
include ../../components/trending_beef/trending_beef.jade
include ../../components/add_beef_call_to_action/add_beef_call_to_action.jade

append body
    div.bt-content
        +section('ABOUT', 'US', 'fa fa-user-circle')
            p.
                Hi! We are Beeftracker, a disruptive news site intended to bring you the latest in Conflict information. Your favourite rappers been writing diss tracks? Has a President of the United States tweeted again? Come to Beeftracker to understand what was said, who was criticised and why? Check out the facts and what people think about them!
            p.
                We are a community run site so if you know of any Beef that is not in our databases, Submit now and help us complete our mission of covering every Beef in History!
            p.
                My name is Tom, I built Beeftracker from scratch to provide a new way to view and understand the news. I love discussion and disagreement, and it takes many forms, it becomes a competitive sport in Music, it helps express our differences in perception of the world in Politics, so laying out a reasoned structured point of view is very important. We believe that presenting both sides is essential to keeping the public empowered and informed about where they stand on certain issues. 
            p.
                This platform relies on data submitted by users which is then moderated by our team to ensure there is no bias or falsehoods. If you find any moderated data that you believe is incorrect please help us by submitting an update request.
            div.row.hiw-container
                div.hiw-title
                    img(src="images/how-it-works.png")
                div.col-md-12.hiw-list
                    div.row
                        div.hiw-list-item
                            img(src="images/hiw-1.png")
                        div.hiw-list-item
                            img(src="images/hiw-2.png")
                        div.hiw-list-item
                            img(src="images/hiw-3.png")
                            
        +section('SITE', 'DETAILS', 'fas fa-server')
            p.
                Beeftracker Version: #{server_version}
        //+trending-beefs-section(trending_data, comment_data)
        +add-beef-cta()
