extends ../../layouts/layout.jade

append body
    div.bt-content
        +section('E', 'RROR', 'fa fa-minus-circle')
            div.text-center
                h2 Page not found, 404 error.
                h3 It looks like you stumbled off the farm... Click below to return to those green, green pastures.
                
                a(href="/")
                    //img(src="/logo/beeftracker_new_logo_cropped_small.ico")
                    img(src="/images/sad_cow.png" width="300px")
                    h4 Go 
                        a(href="/") home

append js_scripts
    script(src="/js/error.js")
