mixin featured-beef-section(data)
    +section('Featured', 'Beefs', '')(class="categories-browser-section")
        div.row.featured-beefs-section
            div.primary-featured-beef
                 +medium-beef-thumbnail(data[0].title, data[0].image_url, data[0].category, data[0]._id, data[0].event_date)(class="beef-category-#{data[0].category.toLowerCase()}", beef_thumbnail_class='x-large')
            div.secondary-featured-beefs
                div.row
                    div.secondary-featured-beef
                        +medium-beef-thumbnail(data[1].title, data[1].image_url, data[1].category, data[1]._id, data[1].event_date)(class="beef-category-#{data[1].category.toLowerCase()}")
                    div.secondary-featured-beef
                        +medium-beef-thumbnail(data[2].title, data[2].image_url, data[2].category, data[2]._id, data[2].event_date)(class="beef-category-#{data[2].category.toLowerCase()}")
