<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="home">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Home</title>
        
        <!-- Bespoke css files -->
        <link rel="stylesheet" href="/stylesheets/event_box_styles_home.css"/>
        <link rel="stylesheet" href="/stylesheets/home/splash_zone_styles.css"/>
        <link rel="stylesheet" href="/stylesheets/home/top_events_styles.css"/>
        
    </head>

    <body id="bootstrap-overrides">
        <div class="container" ng-cloak>
            <div id="loading-bar-container"></div>
            <!--<div id="top_bar"></div>-->
            
            <div header-directive></div>
            <!--
            Email subscription code
            <div class="row" style="overflow:hidden;">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="/subscribe" target="_self">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <span class="col-sm-1 glyphicon glyphicon-envelope" style="padding:10px 0px 0px 0px;margin:0px 10px;font-size:20px;text-align:center"></span>
                            <h5 class="col-sm-9" style="padding:0px;">Subscribe to our email alerts now!</h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4"></div>
            </div>-->
            
            <div splash-zone-directive></div>
            
            <div top-events-directive></div>
            
            <!--<div id="bottom_bar" class="row" style="margin:50px 0px;overflow:hidden;"></div>-->
            <div footer-directive></div>
        </div>
        
        <!-- load global js files -->
        <!--<script src="/js/global_js_loader.js"></script>-->

        <!-- JQuery -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        <script src="/js/globals.js"></script>

        <!-- Core angular scripts -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script src="/modules/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Bespoke angular scripts -->
        <script src="/controllers/search_box_controller.js"></script>
        <script src="/controllers/home/home_app.js"></script>
        <script src="/controllers/home/event_stream_controller.js"></script>
        <script src="/controllers/home/hall_of_fame_controller.js"></script>
        <script src="/controllers/home/splash_zone_controller.js"></script>
        <script src="/controllers/home/top_events_controller.js"></script>
        <script src="/js/beef_tracker_colour_bank.js"></script>

        <!-- Special area direcives -->
        <script src="/directives/home/splash_zone_directive.js"></script>
        <script src="/directives/home/top_events_directive.js"></script>

        <!-- load global css files -->
        <script src="/stylesheets/loading/global_css_loader.js"></script>
        
        <script>
            //google analytics code
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
