<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="home">

    <!--
        Page name: home.ejs
        Project: Beeftracker
        Author: Tom Connolly
        Date: 8/11/16
    -->
    
    <head>
        <title>Home</title>
	<meta name="description" content="Beeftracker is a brand new way to read the news, working from crowd sourced data it aims to put news events back into their context by stringing them together in a timeline. Check it out now!">
        <meta charset="utf-8"><!-- encoding version -->
        <link rel="shortcut icon" href="/logo/steak.ico"><!-- icon -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- tag for mobile zoom -->
        
        <!-- jQuery imports -->
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        
        <!--angular imports -->
        <script src="/modules/angular/angular.min.js"></script>
        <script src="/modules/angular-resource/angular-resource.min.js"></script>
        <script src="/modules/angular-route/angular-route.min.js"></script>
        <script type='text/javascript' src='/modules/angular-loading-bar/build/loading-bar.min.js'></script>
        
        <!-- bootstrap imports -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="/modules/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
        <link rel='stylesheet' href='/modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
                
        <!-- bespoke javascript files -->
        <script src="/controllers/home/home_app.js" type="text/javascript"></script>
        <script src="/controllers/home/search_box_controller.js" type="text/javascript"></script>
        <script src="/controllers/home/event_stream_controller.js" type="text/javascript"></script>
        <script src="/js/beef_tracker_colour_bank.js"></script>
        
        <!-- bespoke stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/house_styles.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
        
        <script>
            //load header and footer
            $(function(){
                $("#top_bar").load("/partials/header.ejs");
                $("#bottom_bar").load("/partials/footer.ejs");
            });
            
            $.getJSON('//freegeoip.net/json/?callback=?', function(data) {
                console.log(JSON.stringify(data, null, 2));
            });
        </script>
        
        <!-- include google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92664606-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body id="bootstrap-overrides">
        <div class="container">
            <div id="loading-bar-container"></div>
            <div id="header"></div>
            <div id="top_bar"></div>
        
            <div id="search_area" ng-controller="searchController">
    
                <div id="search_box" class="row form-group form-group-lg" style="margin:0px;">
                    <div class="col-sm-4" style="text-align:center;">
                        <a href="/add_beef"><h3 style="margin:0px;">Add new Beef!</h3></a>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="col-xs-1 glyphicon glyphicon-search" style="width:40px;height:40px;padding:10px 0px 10px 10px;"></span>
                            <div  class="col-xs-10" style="padding:0px;">
                                <input type="text" ng-model="search_term" ng-change="submit()" style="width:100%;height:40px;font-size:25px;color:#000000" placeholder="Search for an Event" id="search_box">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align:center;">
                        <a href="/add_actor"><h3 style="margin:0px;">Add a new person!</h3></a>
                    </div>
                </div>

                <div id="search_results" class="row" style="padding:0px;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h3>{{ results_string }}</h3>
                        <h4>{{ results_details_string }}</h4>

                        <ul style="list-style-type:none;">

                            <li ng-repeat="record in records" style="margin:30px 0px;font-weight:bold;background-color:#9C0505;padding:20px;">   

                                <a ng-href="{{record.type_path}}{{record.eventNum}}#{{record.eventNum}}" target="_self">
                                    <div class="row">
                                        <div class="col-sm-8" style="padding:0px;">
                                            <h3 style="margin:5px;font-weight:bold;"> {{ record.title }} </h3>
                                            <h4 style="margin:5px;font-weight:bold;"> {{ record.name }} </h4>
                                        </div>
                                        <div class="col-sm-4" style="margin:0px;padding:0px;">
                                            <img  ng-src="/event_images/{{ record.img_link }}" class="img-circle" style="width:100%;height:100%;">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            
            <hr>
            
            <div class="row" >
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2 style="text-align:center;font-weight:bold;">Recent Events:</h2>
                </div>
                <div class="col-sm-4"></div>
            </div>
            
            <div class="row" style="padding:0px 75px;" ng-controller="eventStreamController">
                <div class="col-sm-4">
                    <ul>
                        <li ng-repeat="event_col_1 in event_stream_events_col_1 track by $index" style="margin:30px 0px;">        
                            <a ng-href="/beef/{{event_col_1.eventNum}}#{{event_col_1.eventNum}}" class="selectable_event" style="min-height:120px;background-color:#9C0505;font-weight:bold;padding:0px;border-color:#000000;border-width:10px;" target="_self">

                                <div class="row" style="width:100%;margin:0px;text-align:right;">

                                    <div class="col-sm-3">
                                        <img  ng-src="/event_images/{{ event_col_1.img_link }}" class="img-circle" style="position:relative;margin:10px;padding:0px;float:left;" height="100" width="100">
                                    </div>
                                    <div class="col-sm-8" style="position:relative;float:right;">

                                        <h4 style="margin:5px;font-weight:bold;"> {{ event_col_1.title }}</h4>

                                        <h6 style="margin:5px;">{{ event_col_1.name }}</h6>

                                        <h6 style="margin:5px;">{{ event_col_1.date }}</h6>
                                    </div>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li ng-repeat="event_col_2 in event_stream_events_col_2 track by $index" style="margin:30px 0px;">        
                            <a ng-href="/beef/{{event_col_2.eventNum}}#{{event_col_2.eventNum}}" class="selectable_event" style="min-height:120px;background-color:#9C0505;font-weight:bold;padding:0px;border-color:#000000;border-width:10px;" target="_self">

                                <div class="row" style="width:100%;margin:0px;text-align:right;">

                                    <div class="col-sm-3">
                                        <img  ng-src="/event_images/{{ event_col_2.img_link }}" class="img-circle" style="position:relative;margin:10px;padding:0px;float:left;" height="100" width="100">
                                    </div>
                                    <div class="col-sm-8" style="position:relative;float:right;">

                                        <h4 style="margin:5px;font-weight:bold;"> {{ event_col_2.title }}</h4>

                                        <h6 style="margin:5px;">{{ event_col_2.name }}</h6>

                                        <h6 style="margin:5px;">{{ event_col_2.date }}</h6>
                                    </div>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                     <ul>
                        <li ng-repeat="event_col_3 in event_stream_events_col_3 track by $index" style="margin:30px 0px;">        
                            <a ng-href="/beef/{{event_col_3.eventNum}}#{{event_col_3.eventNum}}" class="selectable_event" style="min-height:120px;background-color:#9C0505;font-weight:bold;padding:0px;border-color:#000000;border-width:10px;" target="_self">

                                <div class="row" style="width:100%;margin:0px;text-align:right;">

                                    <div class="col-sm-3">
                                        <img  ng-src="/event_images/{{ event_col_3.img_link }}" class="img-circle" style="position:relative;margin:10px;padding:0px;float:left;" height="100" width="100">
                                    </div>
                                    <div class="col-sm-8" style="position:relative;float:right;">

                                        <h4 style="margin:5px;font-weight:bold;"> {{ event_col_3.title }}</h4>

                                        <h6 style="margin:5px;">{{ event_col_3.name }}</h6>

                                        <h6 style="margin:5px;">{{ event_col_3.date }}</h6>
                                    </div>

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div id="bottom_bar" class="row" style="margin:50px 0px"></div>
        </div>
    </body>
</html>
