include ../../layouts/mini_vertical_beef_list.jade

mixin search-results(search_result_event_data, search_result_actor_data)
    - if(search_result_event_data != "none" && search_result_actor_data != "none"){
        div.col-md-6
            - console.log(search_result_event_data)
            +mini-vertical-beef(search_result_event_data, "events", "c_fill,g_face,h_129,w_200")
        div.col-md-6
            - console.log(search_result_actor_data)
            +mini-vertical-beef(search_result_actor_data, "actors", "c_fill,g_face,h_129,w_200")
    - }
        
- if(!search_result_event_data){
-     search_result_event_data = "none";
- }

- if(!search_result_actor_data){
-     search_result_actor_data = "none";
- }

+search-results(search_result_event_data, search_result_actor_data)