<html>

    <head>
    </head>

    <body>
    
        <div style="height:100%" class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form class="form-horizontal" name="actor_form" method="post" ng-controller="actorFormController" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-12" ng-model="error_message"><h3 style="color:red">{{error_message}}</h3></div>
                    </div>
                                        
                    <hr>
                    
                    <div class="form-group row">
                        <div class="col-sm-12" style="padding:0px;margin:0px;">
                           <toggle-switch ng-change="config_solo_group(switchStatus)" ng-model="switchStatus" class="switch-danger switch-large" on-label="Group" off-label="Solo"></toggle-switch>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3 field_title" style="text-align:center;" for="title" id="name">* Stage Name:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Enter the name this person is most famous for, e.g. Snoop Dogg, Oprah..." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="stage_name" type="text" ng-model="stage_name" class="form-control" id="title" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row" ng-show="show_birth_name">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">* Birth Name(s):</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Enter the name this actor was given at birth. If it is the same as above" aria-hidden="true"></span>
                            <div class="col-sm-7" style="margin:0px;padding:0px">
                                <input name="birth_name" type="text" ng-model="birth_name" class="form-control" id="title" placeholder="" required>
                            </div>
                            <div class="col-sm-4" style="padding:0px;margin:0px;">
                                <button type="button" class="btn btn-default" style="color:#000000;height:60%;margin:0px 10px;" class="btn btn-info btn-lg" ng-click="birth_name = stage_name">Same as above</button>
                            </div>
                        </div>
                    </div>
                    
                    <hr ng-show="show_birth_name">
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Upload Image:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Upload an image for the event to be displayed in the data panel on the right hand size." aria-hidden="true"></span>
                            <input type="file" file-model="myFile" class="col-sm-9" style="padding:0px;font-size:18px;" required>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment" id="nicknames">Nicknames:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_nickname()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add any other names that this actor may be famous for e.g. Slim Shady" aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="nickname in nicknames" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12 form-control" style="color:#000000;" type="text" placeholder="" ng-model="nickname.text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label id="d_o_b" class="control-label col-sm-3" style="text-align:center;" for="comment">* Date of Birth:</label>
                        <div class="col-sm-9 datepicker row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add the actor's date of birth here. Type or click dd/mm/yyy" aria-hidden="true"></span>
                            
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="datePicker" class="col-sm-12 form-control" type="date" ng-model="datePicker" value="{{datePicker || '0000/00/00'}}">
                            </div>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">* Occupation(s):</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_occupation()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_occupation()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add any jobs this actor may have had or be famous for. e.g singer, co-owner of a company etc..." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="occupation in occupations" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12 form-control" style="color:#000000;" type="text" placeholder="" ng-model="occupation.text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">* Origin:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Enter the city, country/state/province and country where this person was born." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <input name="origin" type="text" ng-model="origin" class="form-control" id="title" placeholder="">
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                                        
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Notable Achievements:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_achievement()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_achievement()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Add any notable achievements this actor may have had, awards they have won, records they have broken etc..." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <div ng-repeat="achievement in achievements" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                    <input class="col-sm-12 form-control" style="color:#000000;" type="text" placeholder="" ng-model="achievement.text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                                        
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="comment">* Bio:</label>
                        <div class="col-sm-9 row" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="Write a short paragraph about this person, Include a brief description of their history and any major events they have been involved in. Write as much as you can." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <textarea name="bio" class="form-control" ng-model="bio" rows="3" id="comment" placeholder="" style="resize:vertical;" required></textarea>
                            </div>
                        </div>
                    </div>
                        
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;display:inline;">* Data Sources:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_source()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="data_source in data_sources" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="We hate fake news at Beeftracker, so if you submit information we need to know where you learned it from. Add a URL, documentary title or other kind of reference here:  A documentary, website, book, song etc... These will be verified before the data is made accessible." aria-hidden="true"></span>
                                
                                <div class="col-sm-11" style="margin:0px;padding:0px">
                                    <input class="col-sm-11 form-control" style="color:#000000;" type="text" placeholder="" ng-model="data_source.text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <label class="control-label col-sm-3" style="text-align:center;" for="title">Associated Actors:</label>
                        <div class="col-sm-9" style="margin:0px;">
                            <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="This is a place to add other people who are associated with this actor, either by being friends or by working together. They must not be enemies." aria-hidden="true"></span>
                            <div class="col-sm-11" style="margin:0px;padding:0px">
                                <select ng-model="assoc_actors" multiple class="form-control">
                                    <option ng-repeat="actor in actors" value="{{actor._id}}">{{ actor.stage_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="control-label" style="text-align:center;" for="comment">Button Links:</label>
                            </div>
                            <div class="row" style="height:15px;"></div>
                            <div class="btn-group btn-group-sm">
                                <button ng-click="add_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>+</b></button>
                                <button ng-click="remove_link()" class="btn btn-default" type="button" style="color:#000000;border:0px;"><b>-</b></button>
                            </div>
                        </div>
                        <div class="col-sm-9" style="margin:0px;">
                            <div ng-repeat="button_link in button_links" name="button_links" style="margin:0px;padding:0px 0px 5px 0px;display:block" class="row col-sm-12" >
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="You may have seen that we like to provide button links to other places where you can get more information. This is much less formal than the data sources entry so a wikipedia article, or link to a tweet is perfect. Add the title of the button here. e.g. Wiki page, Tweet etc..." aria-hidden="true"></span>
                                
                                <div class="col-sm-11" style="margin:0px;padding:0px">
                                    <input class="col-sm-12 form-control" type="text" style="color:#000000;" type="text" placeholder="" value="{{button_link.special_title}}" ng-model="button_link.title">
                                </div>
                                <span class="col-sm-1 glyphicon glyphicon-info-sign"  title="You may have seen that we like to provide button links to other places where you can get more information. This is much less formal than the data sources entry so a wikipedia article, or link to a tweet is perfect. Add the link to the resource here." aria-hidden="true"></span>

                                <div class="col-sm-11" style="margin:5px 0px;padding:0px">
                                    <input class="col-sm-12 form-control" type="url" style="color:#000000;" type="text" placeholder="" ng-model="button_link.url">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="form-group">
                        <div class="col-sm-12"><!--
                            <button type="submit" ng-click="" class="btn btn-default">Submit</button>-->
                            <button ng-click="process_form()" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div> 
            <div class="col-sm-2"></div>                
        </div>
        
    </body>

</html>